.page-berni-saimnieko {
    background-color: $berni-saimnieko-bg;
}
.berni-saimnieko-hide {
    display: none !important;
}

.berni-saimnieko-hero {
    background-color: #626266;
    position: relative;
    height: calc(200vh - 70px - 70px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

    align-items: flex-end;

    padding: 0 0 17.3rem;

    @include mobile {
        height: calc(100vh - 54px);
        height: calc(80vh);
        padding: 0 0 rem(23);
    }

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: var(--berni-saimnieko-hero-img-desktop);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        z-index: 0;

        @include mobile {
            background-image: var(--berni-saimnieko-hero-img-mobile);
        }

        .half-height-container {
            position: absolute;
            top: 0px;
            top: -70px;
            top: -50px;
            left: 0;
            right: 0;

            height: calc(100vh - 70px);
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            @include mobile {
                height: 60vh;
            }
        }

        .center-logo-image {
            // max-width: 100%;
            max-height: 100vh;
            width: 100%;
            height: 100%;
            // padding: 0 20px 40px;
            padding: 0 0px 40px;

            @include mobile {
                width: 100%;

                svg {
                    width: 100%;
                }
            }
        }
    }

    &__content {

        @include large-desktop {
            padding-bottom: 7%;
        }

        @include mobile {
            height: 40%;

            > .row {
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        &__title {
            margin-bottom: 5.3rem;
            @include mobile {
                display: none;
            }
            h1 {
                font-size: rem(22);
                font-weight: 600; //design 700
                color: $berni-saimnieko-clr;
                letter-spacing: 4.4px;
                margin-bottom: 0;
            }
        }

        &__text {
            $svg-free-space: 2.2rem; //20px
            $my-visual-correction: 0.5rem;
            margin-bottom: 4.5rem;

            @include mobile-up {
                // margin-bottom: calc(
                //     6rem - $svg-free-space + $my-visual-correction
                // );

                margin-bottom: 6rem;
            }
            p {
                font-family: $font-new-spirit;
                width: 18em;
                margin: 0 auto;
                font-size: 3.55rem;
                font-weight: 600;
                line-height: 1.1;
                color: $berni-saimnieko-dark-green;
                @include mobile {
                    width: 100%;
                    font-size: rem(18);
                    color: $white;
                }
            }
        }

        &__socials {
            justify-content: center;

            @include mobile {
                flex-direction: column;
                align-items: flex-end;
            }

            .social-item {
                align-items: center;
                &__icon {
                    &.icon {
                        &--youtube,
                        &--instagram {
                            @include mobile {
                                transform: scale(0.75);
                            }
                        }
                    }
                    &.icon--youtube {
                        width: 70px;
                        height: 54px;
                    }
                    &.icon--instagram {
                        width: 66px;
                        height: 66px;
                    }
                    &__inner-vector {
                        @include mobile {
                            fill: #00965f;
                        }
                    }
                    &__outer-vector {
                        @include mobile {
                            fill: #edffe5;
                        }
                    }
                }
                &__name {
                    @include mobile {
                        display: none;
                    }
                }
                &:first-child {
                    margin-right: rem(107);
                    @include mobile {
                        margin-right: 0;
                    }
                }
                p {
                    font-size: rem(24);
                    color: $berni-saimnieko-dark-green;
                }
            }
        }
    }
}
.berni-saimnieko-title {
    padding: 2.55rem 0 2.2rem 0;
    @include mobile {
        padding: 2.65rem 0;
    }
    h3 {
        font-size: 3.55rem;
        color: #00965f;
        font-family: $font-new-spirit;
        font-weight: 600;
        line-height: 1.1;
        @include mobile {
            font-size: rem(28);
        }
    }
}
.berni-saimnieko-carousel {
    .sv-carousel-banner {
        &--content {
            background: $berni-saimnieko-dark-green;
            padding: 3.75rem;
            @include mobile {
                padding: rem(35) rem(30) rem(30);
            }
        }
        &--label {
            display: none;
        }
        &--title {
            padding-bottom: 3.65rem;
            @include mobile {
                padding-bottom: rem(28);
            }
            h2 {
                font-size: rem(44);
                font-family: $font-new-spirit;
                font-weight: 600;
                line-height: 1.1;
                color: $berni-saimnieko-light-green;
                width: 75%;
                margin-bottom: 1.3rem;
                @include mobile {
                    font-size: 2.75rem;
                    margin-bottom: rem(24);
                }
            }
            p {
                font-size: rem(15);
                font-weight: 400;
                line-height: 1.2;
                color: #fff;
                @include mobile {
                    font-size: rem(15.5);
                    letter-spacing: 0.07px;
                }
            }
        }
        &--more {
            color: $berni-saimnieko-purple--dark;
            font-size: rem(16);
            font-weight: 700;
            line-height: 1.1;
            text-decoration: underline;
            text-underline-offset: 0.2em;
            margin-bottom: rem(41);
            @include mobile-up {
                display: none;
            }
        }
        &--item {
            @include mobile-up {
                height: 45.2rem;
            }
        }
        &--content {
            @include mobile-up {
                justify-content: flex-end;
            }
        }
        .owl-dot {
            width: 11px;
            height: 11px;
            background-color: $berni-saimnieko-default-bullet-clr;
            &.active {
                background-color: $berni-saimnieko-active-bullet-clr;
            }
        }
        .owl-nav {
            @include mobile-up {
                padding: 3.75rem;
            }
            svg {
                width: 40px;
                height: 40px;
                @include mobile {
                    width: 41px;
                    height: 41px;
                }
                rect {
                    fill: $berni-saimnieko-purple--dark;
                }
            }
        }
        .btn-row--right {
            .btn {
                color: #fff;
                background-color: $berni-saimnieko-purple--dark;
            }
        }
    }
}
.berni-saimnieko-centered-text {
    @include mobile {
        margin-bottom: 2.75rem;
    }
    @include mobile-up {
        margin-top: 1.9rem;
    }
    p {
        font-size: 2.75rem;
        line-height: 1.1;
        font-weight: 600;
        font-family: $font-new-spirit;
        margin-bottom: 0;
        color: $berni-saimnieko-dark-green;
        @include mobile {
            font-size: rem(28);
        }
    }
}
.page-berni-saimnieko {
    .simple-image-columns-container {
        & > .row {
            @include mobile-up {
                padding: 0 20%;
            }
        }
        margin-bottom: 5.8rem;
        @include mobile {
            margin-bottom: rem(15);
        }
    }
    .simple-image-columns {
        $colGap: 30px;
        @include mobile {
            flex-wrap: wrap;
        }
        &.row {
            @include mobile-up {
                margin-left: -$colGap;
                margin-right: -$colGap;
                & > * {
                    padding-left: $colGap;
                    padding-right: $colGap;
                }
            }
        }
        .simple-image-column {
            &.col-index-1 {
                @include mobile {
                    order: 3;
                }
            }
            &:first-child {
                .item {
                    @include mobile {
                        transform: rotate(19deg);
                    }
                }
            }
            &:nth-child(2) {
                .item {
                    @include mobile {
                        transform: rotate(-19deg);
                    }
                }
            }
            &:nth-child(3) {
                // @include mobile {
                //     width: 100%;
                // }
                .item {
                    @include mobile {
                        transform: rotate(-12deg);
                    }
                }
                @include mobile {
                    .title {
                        h4 {
                            padding-left: 12%;
                        }
                    }
                }
            }
            @include mobile {
                .title {
                    h4 {
                        padding-top: 34%;
                    }
                }
            }
        }
        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 138px;
            margin-bottom: rem(25);
            @include mobile {
                margin-bottom: 0;
            }
        }
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            @include mobile {
                position: relative;
            }
        }
        .image-0 {
            width: 133px;
            height: 113px;
        }
        .image-1 {
            width: 170px;
            height: 113px;
        }
        .image-2 {
            width: 160px;
            height: 138px;
            padding-bottom: 1rem;
        }
        .title {
            @include mobile {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            h4 {
                font-size: 2.75rem;
                font-weight: 600;
                font-family: $font-new-spirit;
                line-height: 1.1;
                color: $berni-saimnieko-dark-green;
                margin-bottom: 1.3rem;
                @include mobile {
                    margin-bottom: 0;
                    font-size: rem(24);
                }
            }
            p {
                font-size: rem(16);
                font-weight: 500;
                line-height: 1;
                letter-spacing: 0.08px;
                @include mobile {
                    display: none;
                }
                @include mobile-up {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

.berni-saimnieko-single-full-post,
.berni-saimnieko-posts {
    .title {
        h4 {
            font-size: 2.65rem;
            font-family: $font-new-spirit;
            font-weight: 600;
            line-height: 1.1;
            color: $berni-saimnieko-dark-green;
            margin-bottom: 0.45rem;
            @include mobile {
                margin-bottom: 3px;
            }
        }
        p {
            font-size: 1.55rem;
            font-weight: 400;
            line-height: 1;
            @include mobile {
                letter-spacing: 0.06px;
            }
        }
        h4,
        p {
            @include mobile {
                font-size: rem(14);
            }
        }
    }
}
.berni-saimnieko-single-full-post {
    .title-and-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: rem(14);
        @include mobile-up {
            margin-top: 1.55rem;
        }
    }
    .title {
        margin-top: 0;
    }
}
.berni-saimnieko-posts {
    .sv-blog-posts-slider {
        .item {
            @include mobile {
                margin-bottom: 1.65rem !important;
            }
            @include mobile-up {
                .title {
                    margin-top: 1.55rem;
                }
            }
        }
        .owl-nav {
            width: 100%;
            position: absolute;
            // top: 80px;
            // top: 142px;
            top: calc(100% - 50% - 2.6875rem - 50px);
            display: block !important;

            & > div {
                position: absolute;
                font-size: 0;
                line-height: 0;
                top: -50%;

                &:hover {
                    .bg {
                        fill: darken($accent, 5%);
                    }
                }
            }

            .owl-next {
                right: -25px;

                &:active {
                    .arrow {
                        transform: translateX(4px);
                    }
                }
            }

            .owl-prev {
                left: -25px;

                &:active {
                    .arrow {
                        transform: translateX(-4px);
                    }
                }
            }

            .bg {
                fill: $accent;
                @include transition-fast;
            }

            .arrow {
                fill: $white;
                @include transition-veryfast;
            }
        }
        .image {
            &:not(.help--overimage) {
                @include mobile {
                    // padding-top: 100%;
                }
            }
            &.help--overimage {
                @include mobile {
                    // display: none;
                }
            }
        }
        @include mobile {
            .owl-carousel {
                display: block !important;
                & > div:last-child {
                    .item {
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }
}
.berni-saimnieko-blog--video,
.sv-meistarklase-styles {
    .sv-page-title {
        h2 {
            font-family: $font-new-spirit;
            font-size: rem(33);
            font-weight: 600;
            color: #00805f;
            line-height: 1.1;
            margin-bottom: 3.55rem;
            @include mobile {
                margin-bottom: 0;
            }
        }
        h3 {
            display: none;
        }
    }
    .body-text {
        div,
        p {
            color: #000;
            // font-size: rem(18);
            font-size: rem(16);
            font-weight: 500;
            line-height: 1.25;
            letter-spacing: 0.08px;
        }
    }
    .post {
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: $font-new-spirit;
            font-size: rem(23);
            font-weight: 600;
            color: $berni-saimnieko-dark-green;
        }
    }
    .sv-form {
        margin-top: 1rem;
    }
}

.berni-saimnieko-blog--video {
    .sv-page-title {
        @include mobile-up {
            padding-top: 3.55rem;
        }
    }
    .sv-product-card-slider {
        @include mobile {
            margin-bottom: 3rem;
        }
    }
}
.sv-meistarklase-styles {
    .sv-page-title {
        // padding-top: 0;
        width: 55%;
        @include mobile-up {
            padding-top: 0;
        }
        h2 {
            text-align: left;
        }
    }
    .form-name-and-surname-row {
        padding: 0;
        // @include mobile-up {
        //     margin-left: 0;
        //     margin-right: 0;
        // }
        // .col-lg-6 {
        //     @include mobile {
        //         padding-left: 0 !important;
        //         padding-right: 0 !important;
        //     }
        // }
        .form-name-col,
        .form-surname-col {
            @include mobile {
                width: 100%;
            }
        }
        .form-surname-col {
            @include mobile {
                margin-left: auto;
            }
        }
    }
    @include mobile-up {
        .form-name-and-surname-row {
            margin-left: -5px;
            margin-right: -5px;
            .form-name-col,
            .form-surname-col {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
    .sv-form {
        @include mobile {
            background-position: 5vw top;
        }
        @include phablet-mobile {
            background-position: 36% top;
        }
    }
}
