.sv-blog-video-template, .sv-meistarklase-styles {
    .post {
        p, h1, h2, h3, h4, h5, ol, ul {
            margin-bottom: 3rem;
        }
    }
}
.sv-blog-video-template,
.berni-saimnieko-single-full-post {

    .title-video-wrap {
        margin: rem(43) 0;
    }

    .title-video {
        width: 100%;
        padding-bottom: 56.25%;
        position: relative;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .post {

        p, h1, h2, h3, h4, h5, ol, ul  {
            @include desktop {
                width: 50%;
                margin-left: auto;
            }

            @include mobile {
                width: 100%;
            }
        }
    }
}

.berni-saimnieko-single-full-post {
    .title-video-wrap {
        margin: 0;
    }
}
