body.loading div#app * {
    filter: blur(1px);
    pointer-events:none;
}

.modal.loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .2 )
    url('/img/loader.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal.loading {
    display: block;
}

.text-muted {
    text-decoration: line-through !important;
}

.preview {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.preview_image img {
    max-height:150px;
    max-width: 150px;
}

.preview_image {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    height: 150px;
    width:150px;
}

.controls {
    opacity: 0.2;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

.preview_image:hover .controls {
    opacity:1;
}

.preview_image_container {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    height: 190px;
}

input[readonly] {
    pointer-events: none;
}

.addPercent:after {
    content:"%";
}

.addCash:after {
    content:"&nbsp;€";
}

.dropdown.is-invalid~.invalid-feedback {
    display:block;
}


form#create_menu_item{ width:920px; }
form#create_menu_item input#new_menu_name{ padding:5px; float:left; margin:0 10px 10px 0; }
form#create_menu_item input.add_menu_item{
    font-size:11px;
    width:60px;
    height:27px;
    display:block;
    -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; border-radius:3px;
    background:#f5f5f5; background: -moz-linear-gradient(100% 100% 90deg, #eee, #fcfcfc); background: -webkit-linear-gradient(#fcfcfc, #eee) !important; background: -o-linear-gradient(#fcfcfc, #eee);
    border:1px solid #ccc;
    color:#666;
    padding-bottom:3px;
    float:left;
}
div.div_menu_button{
    font-size:12px;
    width:295px;
    display:block;
    -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; border-radius:3px;
    background:#f5f5f5; background: -moz-linear-gradient(100% 100% 90deg, #eee, #fcfcfc); background: -webkit-linear-gradient(#fcfcfc, #eee) !important; background: -o-linear-gradient(#fcfcfc, #eee);
    border:1px solid #ccc;
    color:#666;
    padding:10px;
    margin:0 0 10px 0;
}
div#created_buttons{ width:680px; border:1px solid #eee; min-height:400px; padding:10px;}
.clear{ clear:both;}

.ui-nestedSortable-error { background:#fbe3e4; color:#8a1f11;}
ol#created_buttons_list{ margin: 0; padding: 0; padding-left: 30px;}
ol#created_buttons_list, ol#created_buttons_list ol { margin: 0 0 0 25px; padding: 0; list-style-type: none;}
ol#created_buttons_list { margin: 10px 0 10px 0;}
#created_buttons_list li { margin: 7px 0 0 0; padding: 0;}
#created_buttons_list li div > div  { padding:5px; margin: 0; cursor: move; padding-left: 15px; display:inline-block; }
#created_buttons_list li div > div.action { cursor:pointer; width:5%; padding-left:0px;}
#created_buttons_list li div > div.title { width:70%;}
#created_buttons_list li div > div.destroy { cursor:pointer; width:5%; float:right; margin-right: 10px;}


.placeholder { background-color: #f9f9f9; border:1px dashed #ccc;}

#created_buttons_list li div.title { position: relative; }

#created_buttons li{margin-left: 25px; padding-left: 25px;}


.order-state-field select{
    padding: 3px 10px;
}
.order-state-field.accepted{
    background-color: #ffc10840;
}

.order-state-field.finished{
    background-color: #21ae4140;
}
