@charset "UTF-8";

@import "./partials/variables";
@import "./partials/mixins";

$hamburger-layer-color         : #fff;
$hamburger-layer-width         : 20px;
$hamburger-layer-height        : 2px;
$hamburger-layer-border-radius : 0px;
@import "./../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

/**
 * born written scss (edited and appended where needed)
 */
@import "./partials/content";
@import "./partials/selectric";
@import "./partials/forms";
@import "./partials/extralarge";
@import "./partials/medium";
@import "./partials/small";
@import "./partials/extrasmall";
@import "./partials/mobilemarketday";
@import "./partials/imageManager";


/**
* Modules
*/
@import './modules/typography';
@import './modules/swal';
@import './modules/rating';
@import './modules/card';
@import "./modules/button";
@import "./modules/reviews";
@import "./modules/carousel-banner";
@import "./modules/blog-gallery-fullpage-slider";
@import "./modules/how-it-happens";
@import "./modules/loading";
@import "./modules/arrow";
@import "./modules/list-menu";
@import "./modules/breadcrumbs";

@import "./modules/infinite-page";
@import "./modules/feedback-page";

@import "./modules/form";

/**
* Pages
*/
@import "./pages/blog";
@import "./pages/berni-saimnieko";

/**
* Helpers Go last
*/
@import "./partials/helpers";
