figure {
    width: 100%;
    background: #eeeeee;
    color: #666;
    padding: 5px 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    text-transform: uppercase;
}
