.arrow {
    width: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-next::after,
    &-back::before {
        content: "";
        width: 20px;
        height: 33px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='33px'%3E%3Cpath fill-rule='evenodd' fill='rgb(19, 19, 19)' d='M19.167,16.546 L17.046,18.667 L17.000,18.621 L2.954,32.667 L0.833,30.546 L14.879,16.500 L0.833,2.454 L2.954,0.333 L17.000,14.379 L17.046,14.333 L19.167,16.454 L19.121,16.500 L19.167,16.546 Z'/%3E%3C/svg%3E") !important;
        opacity: 1;
        transform: scale(0.6);
        transition: 200ms;
        display: block;
    }

    &-back {
        // position: absolute;
        // width: 100%;

        &:before {
            padding: 0;
            transform: scale(0.6) scaleX(-1);
        }
    }


    &.is-small {

        &.arrow-next::after {
            transform: scale(0.3);
        }
        &.arrow-back::before {
            transform: scale(0.3) scaleX(-1);
        }
    }

    &.is-vertical {
        width: 20px;
        height: 20px;

        &.arrow-next {
            transform: rotate(90deg);
        }
        &.arrow-back {
            transform: rotate(90deg);
        }
    }

    &.is-in-button-left {
        margin-left: 1rem;
        margin-right: -0.7rem;
    }

    &.is-white {
        &.arrow-next::after  { background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='33px'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M19.167,16.546 L17.046,18.667 L17.000,18.621 L2.954,32.667 L0.833,30.546 L14.879,16.500 L0.833,2.454 L2.954,0.333 L17.000,14.379 L17.046,14.333 L19.167,16.454 L19.121,16.500 L19.167,16.546 Z'/%3E%3C/svg%3E") !important; }
        &.arrow-back::before { background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='33px'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M19.167,16.546 L17.046,18.667 L17.000,18.621 L2.954,32.667 L0.833,30.546 L14.879,16.500 L0.833,2.454 L2.954,0.333 L17.000,14.379 L17.046,14.333 L19.167,16.454 L19.121,16.500 L19.167,16.546 Z'/%3E%3C/svg%3E") !important; }
    }

    &--container {
        display: flex;
        align-items: center;
    }
}
