.blog-gallery-fullpage-slider {
    position: relative;
    background-color: $white;

    @include desktop {
        margin-bottom: 4.5rem
    }

    @include mobile {
        margin-bottom: 2rem
    }

    &--item {
        background-color: $white;
        // height: 480px;
        height: rem(700);
        width: 100%;
        display: flex;

        img {
            object-fit: cover;
            object-position: center;
        }

        @include desktop {
        }

        @include mobile {
            flex-direction: column;
            height: auto;
        }
    }

    .owl-dots {
        position: absolute;
        top: rem(30);
        right: rem(30);

        height: rem(30);

        display: flex;
        justify-content: flex-end;
        align-items: center;

        .owl-dot {
            width: 10px;
            height: 10px;

            margin-right: 5px;
            margin-left: 5px;

            border-radius: 100%;
            background-color: $gray;
            border: 1px solid $white;

            transition: background 200ms ease;

            &.active {
                background-color: $black;
            }
        }
    }

    .owl-nav {
        position: absolute;
        height: 0;
        bottom: 50%;
        transform: translate(0, (46px / -2));
        left: 0%;
        right: 0%;
        .bg {
            fill: #2E9265;
            transition: all 350ms ease;
        }
        .arrow {
            fill: #ffffff;
            transition: all 150ms ease;
        }

        .owl-prev, .owl-next {
            &:hover {
                .bg {
                    fill: #287f58;
                }
            }
            &:active {
                .arrow {
                    transform: translateX(4px);
                }
            }
        }

        .owl-prev {
            position: absolute;
            left: -25px;
            top: 0;
        }
        .owl-next {
            position: absolute;
            right: -25px;
            top: 0;
        }

        svg {
            display: block;
        }
    }
}
