.btn {
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.1;
    font-weight: 600;

    padding: rem(14) rem(26);
    font-size: rem(14);

    transition: background 200ms, border 200ms, color 200ms;

    // &-large {
    //     padding: rem(14) rem(26);
    //     font-size: rem(14);
    // }

    &-light {
        color: $white;

        &:hover {
            color: $white;
        }
    }

    &-green {
        background-color: $accent;
        color: $white;

        &:hover {
            background-color: darken($accent, 10);
            color: $white;
        }
    }

    &-gray {
        background-color: #F1F3F4;
        color: $black;

        &:hover {
            background-color: darken(#F1F3F4, 10);
            color: $black;
        }
    }

    &-purple {
        background-color: $berni-saimnieko-purple--dark;
        color: $white;
        &.btn-text-is-green {
            color: $berni-saimnieko-dark-green;
        }
        &.is-purple-light {
            background: #AD7BFF;
        }
        &:hover {
            background-color: darken($berni-saimnieko-purple--dark, 10);
            color: $white;
        }
    }

    &-transparent {
        border: 1px solid $accent;
        background-color: transparent;

        &:hover {
            background-color: $accent;
        }
    }

    &-outlined {
        border: 1px solid $accent;
        background-color: transparent;
        color: $accent;

        &:hover {
            color: $white;
            background-color: $accent;
        }
    }

    &-white-link-arrow {
        color: $white;
        padding: 0;
        padding-right: rem(30);
        margin-right: -10px;
        background: url(../img/arrow.svg) right 10px center no-repeat;

        &:hover {
            color: $white !important;
            background: url(../img/arrow.svg) right 0px center no-repeat;
        }
    }
    &-wide {
        padding: rem(14) 10rem;
        @include mobile {
            padding: rem(14) 5.5rem;
        }
    }

    &-mobile {
        @include mobile-up {
            display: none;
        }
    }
    &-desktop {
        @include mobile {
            display: none;
        }
    }


}

.btn-row {
    // margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;

    &--center {
        justify-content: center;
    }
    &--right {
        justify-content: flex-end;
    }

    &--fill {
        .btn {
            width: 100%;
        }
    }

    &--high-z {
        position: relative;
        z-index: 10;
    }


    .btn {
        // margin-left: 1rem;
        // margin-bottom: 1rem;
    }
}

.centered-button {
    margin-bottom: 1.7rem;
}
