.card {
    background-color: $white;
    display: flex;
    flex-direction: column;
    height: 100%;

    &-image {
        width: 100%;
        height: 300px;
        object-fit: cover;

        display: block;
        margin-bottom: 1rem;

        flex-shrink: 0;
    }

    &-image-ratio {
        position: relative;
        flex-shrink: 0;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;

            display: block;
        }
        margin-bottom: 1rem;

        &::after {
            content: "";
            display: block;
            width: 100%;
            padding-bottom: 100%;
            // padding-bottom: 90%;
        }
    }

    &-label {
        margin-bottom: 1rem;
        font-size: rem(11);
        font-weight: 500;
        letter-spacing: 0.02em;
    }

    &-title {
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: rem(18);
    }

    &-content {
        padding: 1rem 2rem 1rem;
        line-height: 1.5;

        height: 100%;
    }

    &-footer {
        padding: 1rem 2rem 2rem;
    }
}

@media only screen and (max-width : 500px) {
    .supplier-card {
        width: 100%;
    }
}
