.sv-carousel-banner {
    position: relative;
    background-color: $white;

    &--item {
        background-color: $white;
        height: 480px;
        height: 480px;
        width: 100%;
        display: flex;

        @include desktop {
        }

        @include mobile {
            flex-direction: column;
            height: auto;
        }
    }

    &--left {
        width: 60%;

        @include mobile {
            width: 100%;
            height: 350px;
        }
    }

    &--right {
        width: 40%;

        @include mobile {
            width: 100%;
        }
    }
    &--content {
        width: 100%;
        height: 100%;

        padding: rem(30);
        display: flex;

        flex-direction: column;
        justify-content: space-between;

        @include mobile {
            justify-content: flex-end;
        }
    }

    &--image {
        height: 100%;
        height: 100%;

        img {
            display: block;
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: center;
        }
    }

    &--label {
        font-size: rem(16);
        font-family: $font-primary; font-weight: 500;
        color: $accent;
        margin-bottom: rem(10);
    }

    &--spacer {
        // height: 100%;
        width: 100%;
    }

    &--title {
        padding-bottom: rem(20);

        h2 {
            margin-bottom: rem(10);
        }
    }

    .owl-dots {
        position: absolute;
        top: rem(30);
        right: rem(30);

        height: rem(30);

        display: flex;
        justify-content: flex-end;
        align-items: center;

        .owl-dot {
            width: 10px;
            height: 10px;

            margin-right: 5px;
            margin-left: 5px;

            border-radius: 100%;
            background-color: $gray;
            border: 1px solid $white;

            transition: background 200ms ease;

            &.active {
                background-color: $black;
            }
        }
    }

    .owl-nav {
        position: absolute;
        bottom: rem(0);
        left: 60%;

        padding: rem(30);

        display: flex;
        justify-content: flex-end;
        align-items: center;

        > div {
            margin-right: 5px;
        }

        svg {
            display: block;
        }

        @include mobile {
            left: 0%;
        }
    }
}
