.file-input {
    input[type=file] {
        visibility: hidden;
        position: absolute;
        width: 0px;
        height: 0px;
    }

    .uploaded-list {
        display: flex;
        flex-wrap: wrap;

        > * {
            display: block;
            width: 80px;
            height: 80px;
            margin-right: 10px;
            margin-bottom: 10px;
            border: #e2e2e2 1px solid;
            background: #fff;
            line-height: 1  ;
        }

        label {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            svg {
                transition: width 100ms ease;
                width: 40px;
            }

            &:hover {

                svg {
                    width: 45px;
                }
            }
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
        }

        .uploaded-image {
            position: relative;
            cursor: pointer;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                position: absolute;
                background-color: black;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' fill='black'/%3E%3Cpath d='M17.6575 7.75796L13.4148 12.0006L17.6575 16.2432L16.2432 17.6575L12.0006 13.4148L7.75796 17.6575L6.34375 16.2432L10.5864 12.0006L6.34375 7.75796L7.75796 6.34375L12.0006 10.5864L16.2432 6.34375L17.6575 7.75796Z' fill='white'/%3E%3C/svg%3E%0A");
                background-position: right 10px top 10px;
                background-repeat: no-repeat;
                background-size: 20px;
                opacity: 0;
                transition: opacity 200ms ease;
            }

            &:hover {
                &:before {
                    opacity: .5;
                }
            }
        }
    }
}
