.sv-form {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $berni-saimnieko-dark-green;
    margin-top: rem(80);
    @include mobile {
        margin-top: 4rem;
        background-size: cover;
        background-position: -25% top;
    }
    @include phablet-mobile {
        background-position: 30% top;
    }
    .container {
        padding-top: 7.45rem;
        padding-bottom: 7.45rem;
        @include mobile {
            padding-top: 5.55rem;
            padding-bottom: 5rem;
        }
        &>.row {
            @include mobile {
                flex-wrap: wrap;
            }
        }
    }
    .row {
        display: flex;
        align-items: stretch;
    }
    &__text, &__form {
        @include mobile {
            margin-left: 7%;
            margin-right: 7%;
        }
    }
    &__text {
        &__inner {
            height: 100%;
            width: 58%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__title {
            font-family: $font-new-spirit;
            font-size: rem(50);
            font-weight: 600;
            line-height: 1.08;
            color: $berni-saimnieko-light-green;
            margin-bottom: 18.65rem;
            @include mobile {
                margin-bottom: rem(27);
                font-size: 2.8rem;
            }
        }
        &__text {
            font-size: rem(14);
            line-height: 1.3;
            letter-spacing: 0.07px;
            font-weight: 400;
            color: $white;
            @include mobile {
                display: none;
            }
            @include mobile-up {
                font-size: 1.55rem;
            }
        }
    }
    &__form {
        align-self: center;
        @include mobile-up {
            align-self: flex-end;
        }
        &__inner {
            margin-left: auto;
            @include mobile-up {
                width: 66%;
            }
            .form-group {
                margin-bottom: 0;
                &:first-child {
                    margin-bottom: rem(8.5);
                    @include mobile-up {
                        margin-bottom: 0;
                    }
                }
                label {
                    @include mobile {
                        letter-spacing: 0.07px;
                        line-height: 0.9;
                    }
                }
            }
            .form-check {
                margin-top: 3rem;
                margin-bottom: 1.1rem;
                @include mobile {
                    font-size: rem(11);
                    margin-top: 2.1rem;
                    margin-bottom: 3.2rem;
                    line-height: 0.9;
                }
                &-label {
                    font-size: 1.1rem;
                    font-weight: 400;
                    letter-spacing: 0.05px;
                    line-height: 1.3;
                    color: $white;
                    @include mobile {
                        width: 73%;
                        line-height: 0.9;
                    }
                }
                &-input {
                    &+label {
                        &:after {
                            border: solid $white;
                            border-width: 0 2px 2px 0;
                        }
                    }
                  }
            }
            label {
                font-size: 1.55rem;
                font-weight: 400;
                color: #00C841;
                margin-bottom: 0;
                line-height: 0.9;
                @include mobile {
                    line-height: 1;
                }
                @include mobile-up {
                    margin-bottom: .65rem;
                    letter-spacing: 0.07px;
                }
            }
            input {
                min-height: 4.45rem;
                height: 4.45rem;
                line-height: 4.45rem;
                &[type="text"] {
                    background: $berni-saimnieko-bg;
                    border: 1px solid $berni-saimnieko-bg;
                    @include mobile {
                        background: rgba(255, 255, 255, 0.9);
                    }
                }
                @include mobile {
                    min-height: rem(45);
                    line-height: rem(45);
                }
            }
            input[type=checkbox] + label:before {
                background: transparent;
                border: 1px solid $berni-saimnieko-light-green;
                width: 2.7rem;
                height: 2.7rem;
                top: 0;
                @include mobile {
                    width: rem(29);
                    height: rem(29);
                }
            }
            input[type=checkbox] + label:after {
                top: 17%;
                left: 2.2%;

                @include mobile {
                    top: 5px;
                    left: 10px;
                }
            }
            .btn {
                margin-left: auto;
                @include mobile {
                    margin-right: auto;
                }
            }
        }
    }
    &.meistarklase-form {
        background-color: #FFA000;
        .sv-form__form {
            &__inner {
                label {
                    color: $berni-saimnieko-dark-green;
                }
                input[type=checkbox] + label:before {
                    border: 1px solid $berni-saimnieko-dark-green;
                }
            }
        }
    }
}
