.how-it-happens {

    .image {
        background-color: #fff;
        padding: rem(16) rem(32);
        margin-bottom: rem(16) !important;

        @include desktop {
            margin-bottom: rem(0) !important;
        }

        > p {
            text-align: center;
            margin-top: 10px;
            font-size: rem(16);

            font-weight: 700;

            color: #00945E;
        }

        > img {
            @include tablet {
                max-height: rem(260);
            }

            @include mobile {
                max-height: none;
            }

            object-fit: contain;
            object-position: center;
        }

        .overimage {
            background: #00945E;
            color: #fff;

            display: flex;
            flex-direction: column;
            justify-content: center;

            padding: rem(16);
            font-size: rem(13);
            font-weight: 500;

            p {
                background: none !important;
                margin-bottom: rem(16);

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &-description-text {
        font-size: rem(13);
        font-weight: 500;

        @include mobile {
            padding: 0 rem(15);
        }

        p {
            margin-bottom: rem(12);
        }
    }
}
