.infinite-page {
    width: 100%;
    align-items: stretch;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;


    &-status {
        width: 100%;

        .inner {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.supplier-products-container .infinite-page {
    // justify-content: space-between;
}
