.list-menu {

    &-item {
    }

    &-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #eeeeee;
        border-left: 0px solid $accent;

        line-height: 1.1;

        padding-left: 5px;

        transition: all 200ms ease;

        margin: 2px 0 2px;
        padding-bottom: 2px;

        &.is-active,
        &:hover {
            padding-left: 10px;
            background-color: #fff;
        }

        &.is-active {
            padding-left: 5px;
            border-left-width: 4px;
        }
    }
}
