.loading {
    display: none;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;

    background-color: rgba($black, 0.1);

    @include blur;
    backdrop-filter: blur(2px);


    align-items: center;
    justify-content: center;

    &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid $accent;
        border-color: $accent transparent $accent transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

    &.is-active {
        display: flex;
    }
}

.loading-ring {
    flex-grow: 0;
    flex-shrink: 0;

    &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid $accent;
        border-color: $accent transparent $accent transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

    &.is-sm {

        &:after {
            content: " ";
            display: block;
            width: (64px / 2);
            height: (64px / 2);
            margin: 8px;
            border-radius: 50%;
            border: (6px / 2) solid $accent;
            border-color: $accent transparent $accent transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }
    }
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
