$rate-font-size: 40px;

.rate {
    height: $rate-font-size;
    padding: 0 10px;

    font-family: serif;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    // *{
    //     margin: 0 !important;
    //     padding: 0 !important;
    // }

    input[type="radio"] + label::before {
        border: none;
        top:0;

        width: 1em;
        height: 1em;

        position: static;
        vertical-align: unset;
    }

    input[type="radio"] + label::after {
        display: none;
    }

    &:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    &:not(:checked) > label {
        float:right;
        width:1em;
        height:2em;
        // overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:$rate-font-size;
        color:#ccc;
        position: static;
        padding: 0;
        margin:0;
    }
    &:not(:checked) > label:before {
        content: '★ ';
    }
    & > input:checked ~ label {
        color: #ffc700;
    }
    &:not(:checked) > label:hover,
    &:not(:checked) > label:hover ~ label {
        color: #ffc700;
    }
    & > input:checked + label:hover,
    & > input:checked + label:hover ~ label,
    & > input:checked ~ label:hover,
    & > input:checked ~ label:hover ~ label,
    & > label:hover ~ input:checked ~ label {
        color: #ffc700;
    }
}
