.reviews {
    &-title {
        margin-bottom: 3rem;
    }

    &-items {
        display: flex;
        flex-wrap: wrap;

        justify-content: flex-start;
    }

    &-item {
        width: 50%;
        display: flex;

        align-items: flex-start;

        padding-right: 3rem;
        padding-bottom: 3rem;
    }

    &-profilepicture {
        width: rem(50);
        height: rem(50);
        flex-shrink: 0;

        margin-right: 2rem;

        border-radius: rem(50);

        display: flex;
        justify-content: center;
        align-items: center;

        text-transform: uppercase;
    }

    &-profiletexts {
        border-bottom: 1px solid #DBDDE4;
        padding-bottom: 3rem;

        .name {
            font-size: rem(14);
            font-weight: 600;
        }

        h5 {
            font-weight: 600;
            margin-bottom: rem(10);
        }
    }
    }
