.swal2-container {
    font-family: "DINPro Regular", sans-serif;

    &.swal2-center > .swal2-popup {
        font-size: 2rem;
        font-family: "DINPro Regular", sans-serif;
    }

    .swal2-html-container {
        font-size: 18px;
    }

    .swal2-styled {

        &.swal2-confirm {
            @extend .btn;
            @extend .btn-green;
        }

        &.swal2-cancel {
            @extend .btn;
            @extend .btn-gray;
        }
    }

    .swal2-icon {
        font-size: 12px;
    }

    .swal2-input {
        width: auto;
        min-height: auto;
        font-size: 16px;
    }

    .swal2-loader {
        border-color: $accent transparent $accent transparent !important;
    }
}
