h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: $font-primary;
}

h1, .h1 {
    font-size: rem(24);
    font-weight: 600;
    line-height: 1.2;

    display: block;
}

h2, .h2 {
    font-size: rem(24);
    font-weight: 600;
    line-height: 1.2;

    display: block;
}

h3, .h3 {
    font-size: rem(18);
    font-weight: 600;
    line-height: 1.2;

    display: block;
}

h4, .h4 {
    font-size: rem(14);
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.02em;

    display: block;
}

p, .p {
    font-weight: normal;
    font-weight: 500;
    line-height: 1.5;
}
