<template>
    <div class="izipizi-map">
        <h2>Piegādes izmaksas pa teritorijām*</h2>
        <p>*Precīzāku cenas aprēķinu redzēsiet pie pasūtījuma apmaksas 3.solī</p>

        <div class="map-wrapper">
            <div id="map" class="map">
                <img class="hidden-xs" :src="require('../img/izipizi-map.jpg')" alt="">
                <img class="visible-xs" :src="require('../img/izipizi-map-mobile.jpg')" alt="">
            </div>
        </div>

        <div class="zone-legend">
            <div class="zone" v-for="(price, zone_index) in prices" :key="zone_index">
                <div class="color" :style="{'background-color': price.zonecolor}"></div>
                <div class="price">{{ price.price }}&nbsp;€</div>
            </div>
        </div>
    </div>
</template>

<script>
// import _each from "lodash/each";
// import _map from "lodash/map";
import _get from "lodash/get";
// import mapboxgl from 'mapbox-gl'

// import "@/../mapbox-gl/dist/mapbox-gl.css";

export default {
    props: {
        method: Object,
        value: null,
    },

    data() {
        return {
            map: null,
            popup: null,
        }
    },

    computed: {
        model: {
            get() {
                if (this.value) {
                    return this.value;
                }

                return null;
            },
            set(newValue) {
                this.activateLocation(newValue);
                this.$emit('input', newValue);
            }
        },

        prices() {
            return _get(this.method, 'method_data.prices', []);
        },

    },

    methods: {},

    mounted() {},
}
</script>

<style lang="scss" scoped>
.izipizi-map {
    width: 100%;
    // margin-bottom: 30px;

    img {
        width: 100%;
        height: 100%;
        display: block;

        object-fit: cover;

        &.visible-xs {
            height: auto;
        }

        &.hidden-xs {
            height: 500px;
        }
    }

    h2 {
        margin-bottom: 5px;
    }

    p {
        margin-bottom: 20px;
    }
    .map-wrapper {
        position: relative;
        width: 100%;

        margin-bottom: 20px;
    }

    .map {
        //   position: absolute;
        width: 100%;
        height: 100%;
    }

    .zone-legend {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        .zone {
            width: 33%;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            padding-right: 10px;

            .color {
                background-color: #FFF;
                border-radius: 100%;
                border: 1px solid #E2E2E2;

                width: 25px;
                height: 25px;

                margin-right: 7px;

                @media only screen and (min-width : 1201px) {
                    width: 36px;
                    height: 36px;
                }
            }

            .price {}

            @media only screen and (min-width : 1201px) {
                width: (100% / 7);
            }
        }
    }
}

</style>
