// main: ../main.scss

@media only screen and (max-width: 767px) {

  html {
    &.sv-menu-mobile-open {
      width: 100%;
      overflow: hidden;
      position: fixed;
    }
  }

  body {
    padding-top: 54px;
    &.sv-menu-mobile-open {
      width: 100%;
      overflow: hidden;
      position: fixed;
      .sv-dock {
        .sv-btn-menu {
          opacity: 1;
          // left: 100%;
          // right: 15px;
          position: absolute;
          // margin-left: -40px;
          span {
            s {
              &:nth-child(1) {
                top: 11px;
                transform: rotate(45deg);
              }
              &:nth-child(2) {
                opacity: 0;
                transform: rotate(-45deg);
              }
              &:nth-child(3) {
                top: 11px;
                transform: rotate(-45deg);
              }
            }
          }
        }
        .right {
          // transform: translateX(100%);
          // opacity: 0;
        }
      }
    }
    &.sv-has-marketday-dropdown {
      padding-bottom: 54px;
    }
    &.sv-lightbox-open {
      overflow: hidden;
      position: fixed;
      width: 100%;
      height: 100%;
    }
  }

  .sv-blank-spacer {
    width: 100%;
    clear: both;
    &.very-big {
      height: 110px;

      &--minus {
        height: 0;
        margin-top: -110px;
      }
    }
    &.big {
      height: 45px;

      &--minus {
        height: 0;
        margin-top: -45px;
      }
    }
    &.medium {
      height: 30px;

      &--minus {
        height: 0;
        margin-top: -30px;
      }
    }
    &.small {
      height: 15px;

      &--minus {
        height: 0;
        margin-top: -15px;
      }
    }
  }

  .sv-page-title-banner {
    height: auto;
    padding: 35px 15px;
    .title {
      padding-top: 0;
      position: relative;
      padding-left: 15px;
      padding-right: 15px;
    }
    h3 {
      font-size: 25px;
      line-height: 35px;
      margin-bottom: 10px;
    }
    h4 {
      font-size: 18px;
      line-height: 28px;
    }
  }

  .sv-page-title {
    padding: 25px;
    h2 {
      text-align: center;
      font-size: 22px;
      line-height: 32px;
      a {
        &:after {
          width: 4px;
          height: 17px;
          margin: 0 12px 0 20px;
        }
      }
    }
    h3 {
      padding-top: 10px;
    }
  }

  .sv-image-banner {
    flex-wrap: wrap;

    .item {
      width: 100%;

      .title {
        h3 {
          font-size: 30px;
          line-height: 40px;
          padding: 0 15px;
        }
      }
    }
  }

  .sv-product-card {
    width: 100%;
  }

  .sv-farmer-products {
    .intro {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding-right: 0;
      margin-bottom: 40px;
      h3 {
        text-align: center;
        font-size: 30px;
        line-height: 44px;
        margin-bottom: 20px;
      }
      p {
        text-align: center;
      }
    }
    .farmer {
      width: auto !important;
      position: relative;
      margin-bottom: 20px;
    }
  }

  .sv-blog-list {
    .row {
      margin-bottom: -15px;
      flex-wrap: wrap;
      margin: 0 -15px;
      padding: 0 15px;
    }
    .item {
      width: 100%;
      margin: 0;
      margin-bottom: 15px !important;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .post {
      p {
        margin-bottom: 20px;
      }
      img {
        margin-bottom: 15px;
      }
    }
  }

  .sv-blog-sidebar {
    margin-top: 20px;
    padding-left: 0;
    width: 100%;
    ul.menu {
      display: none;
    }
  }

  .sv-steps {
    .sv-title {
      p {
        padding: 20px 15px 0 15px;
      }
    }
    .row {
      flex-wrap: wrap;
    }
  }

  .sv-footer {
    padding: 30px 0;
    .row {
      flex-flow: column;
    }
    .menu {
      flex-wrap: wrap;
      margin-bottom: 30px;
      li {
        width: 100%;
        a {
          margin: 0;
          padding: 10px 0;
          text-align: center;
        }
      }
    }
    .social {
      margin-left: 0;
      justify-content: center;
      a {
        margin: 0 15px;
      }
    }
  }

  .sv-copyright {
    .row {
      flex-wrap: wrap;
      .logo {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
      }
      .contacts {
        width: 100%;
        margin: 0;
        flex-wrap: wrap;
        & > div {
          text-align: center;
          margin: 0;
          width: 100%;
        }
      }
    }
  }

  .sv-product-card-slider {
    .owl-nav {
      top: 39vw;
    }
  }

  .sv-dock {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 2000;
    .right {
      z-index: 200;
      @include transition-medium;
    }
    .sv-btn-menu {
    //   @include transition-medium;m
      background: none !important;
    }
  }

  .sv-menu-mobile {
    width: 100%;
    opacity: 1;
    transform: translateX(-100%);
    visibility: visible;
    box-shadow: none;
    font-size: 20px;
    @include transition-medium;

    li {

        a {
          padding: 15px 0 !important;
        }
    }
  }

  .sv-mobile-menu-close-bg {
    background: rgba($black, 0.4);
  }

  .sv-marketday-dropdown {
    .title {
      height: 100px;

      span {
        padding-left: 40px;
        margin-left: -40px;
      }
      &:after {
        content: "";
        width: 54px;
        height: 54px;
        background: url(../img/arrow-3-left.svg) center center no-repeat;
        position: absolute;
        right: 0;
        top: 0;
        @include transition-veryfast;
      }
    }
    .content {
      .title {
        &:after {
          transform: scale(0.7);
          right: 15px;
          top: 15px;
        }
      }
    }
    .calendar {
      h3 {
        font-size: 26px;
        line-height: 26px;
        margin-bottom: 15px;
      }
      .container {
        .row {
          padding-top: 30px;
          padding-bottom: 25px;
          flex-flow: column;
          align-items: center;
          display: block;
          .intro {
            text-align: center;
            margin-bottom: 25px;
            p {
              font-size: 16px;
              line-height: 26px;
            }
          }
          .days {
            padding: 25px 10px 0 10px;
            padding: 25px 40px 10px;

            margin-top: -25px;

            overflow-x: auto;
            -webkit-overflow-scrolling: touch;

            .sv-day {
              margin-left: 0;
              margin-right: 25px;
              flex-grow: 1;
              flex-shrink: 0;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }

  .sv-lightbox {
    &.sv-signin {
      .content-sv-signin {
        overflow-y: auto;
        background: $accent;
        // -webkit-overflow-scrolling: touch;
        display: block;

        .signin {
          width: 100%;
          height: auto;
          display: block;
          padding: 25px 15px 25px 15px;
          form {
            width: 100%;
            .logo {
              width: 140px;
              margin-bottom: 25px;
            }
          }
        }
        .register {
          width: 100%;
          height: auto;
          display: block;
          padding-top: 25px;
          padding-bottom: 25px;
          h3 {
            margin-bottom: 20px;
          }
          p {
            font-size: 16px;
            line-height: 26px;
          }
          .sv-btn {
            margin-top: 20px;
          }
        }
      }
    }
  }

  _::-webkit-full-page-media, _:future, :root .sv-lightbox.sv-signin .content-sv-signin .register {
	  padding-bottom: 105px;
	}

  .sv-lightbox {
    &.sv-newsletter {
      .content-sv-newsletter {
        form {
          height: 100%;
          padding: 55px 25px 105px 25px;
          width: calc(100%);
          .title {
            width: 100%;
            .input-wrapper {
              width: 100%;
            }
            p {
              padding: 0;
            }
            h3 {
              font-size: 28px;
              line-height: 38px;
            }
            .data {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .sv-linked-products-slider, .sv-blog-list-slider {
    width: 100%;
    .owl-carousel {
      width: 100% !important;
    }
  }

  .sv-linked-products-slider {
    .owl-nav {
      top: 39vw;
    }
  }

  .sv-blog-list-slider {
    .title {
      h2 {
        padding: 0 70px;
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  .sv-category-wrapper, .sv-product-single-wrapper {
    .container {
      padding: 0 30px;
      width: 100%;
    }
  }

  .sv-category-wrapper {
    .sv-product-card {
      width: 100%;
      margin: 0 15px 25px 15px;
    }
  }

  .sv-product-single-header {
    .sv-product-title {
      .title {

        h2 {
          font-size: 28px;
          line-height: 36px;
          margin-bottom: 10px;
        }
        .breadcrumbs {
          margin-bottom: 20px;
        }
      }
    }
  }

  .sv-marketday-access {
    padding-top: 30px;
    h3 {
      padding: 0 15px;
      margin-bottom: 20px;
    }
    p {
      padding: 0 15px;
    }
  }

  .sv-farmer-about {
    padding-top: 35px;
    padding-bottom: 35px;
    .farmer {
      width: 100% !important;
      margin-bottom: 25px;
    }
    h5 {
      font-size: 28px;
      line-height: 36px;
      padding: 0 15px;
      margin-bottom: 25px;
    }
    p {
      padding: 0 25px;
    }
  }

  .sv-exp-date {
    padding-top: 25px;
  }

  .sv-process-steps {
    padding: 0 15px;
    & > .container {
      & > .row {
        display: block;
        margin: 0 -15px;
      }
    }
    .item {
      padding: 0;
      width: 100%;
      margin-bottom: 45px;
      .icon {
        margin-bottom: 15px;
        // img {
        //   width: 150px;
        // }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .sv-blank-spacer {
      display: none;
    }
  }

  .sv-cta {
    padding: 0 15px;
    .sv-btn {
      width: 100%;
      padding: 0 25px;
      font-size: 18px;
      line-height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  #farmersmap-canvas, #contactsmap-canvas {
    height: 60vh !important;
  }

  .vc_row {
    padding: 0 !important;
  }

  .sv-text-block {
    padding: 0 15px;
  }

  .sv-tabs {
    padding: 0 15px;
    .tab {
      font-size: 18px;
      line-height: 28px;
    }
  }

  .sv-farmers-list {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    .item {
      width: 50%;
      margin-bottom: 30px;
    }
  }

  .sv-404 {
    .logo {
      left: 50%;
      transform: translateX(-50%);
      img {
        width: 90px;
      }
    }
    .title {
      .sv-btn {
        padding: 0 15px;
        font-size: 18px;
      }
    }
    h2 {
      font-size: 62px;
      line-height: 72px;
    }
    h3 {
      font-size: 18px;
      line-height: 28px;
    }
  }

  .sv-text-page {
    padding: 0 15px;
  }

  .checkbox-large {
    flex-wrap: wrap !important;
    a {
      width: 100%;
      display: block;
      margin-top: 15px;
      margin-left: 40px !important;
    }
  }

  .sv-user-data-forms {
    .section {
      padding: 20px 15px;
    }
    .input-wrapper.radio {
      display: inline-block;
      margin: 5px 0;
    }
    .col-md-12 {
      display: flex;
      flex-flow: column;
    }
    .sv-btn {
      padding: 0 15px;
      margin-top: 20px;
      font-size: 18px;
    }
  }

  .sv-order-history {
    .list {
      .item {
        & > .container {
          & > .row {
            padding: 0 15px;
            flex-wrap: wrap;
            align-items: flex-start;
          }
        }
        .order {
          width: 100%;
          margin-bottom: 10px;
        }
        .day, .date, .price {
          width: 33%;
        }
        .date {
          text-align: center;
        }
      }
    }
  }

  .sv-order-history {
    .list-open {
      .item {
        & > .container {
          & > .row {
            flex-wrap: wrap;
            padding: 0 15px;
          }
        }
        .product {
          width: 100%;
          padding-right: 0;
        }
        .price-single {
          width: 50%;
        }
        .quantity {
          width: 25%;
        }
        .price-total {
          width: 25%;
        }
        &.header {
          display: none;
        }
        &.totals {
          .data-wrapper {
            width: 50%;
          }
          .data-row {
            &:last-child {
              padding: 20px 0 5px 0;
            }
          }
        }
        &.current {
          padding-top: 0;
          padding-bottom: 0;
          & > .container {
            & > .row {
              flex-flow: column;
            }
          }
          .file {
            margin-top: 20px;
            padding-top: 45px;
            padding-left: 0;
            background: url(../img/icon-doc-2.svg) top center no-repeat;
            text-align: center;
          }
          .download {
            margin: 20px 0 25px 0;
          }
        }
      }
    }
    .repeat {
      margin: 5px auto 25px auto;
    }
  }

  .sv-cart-steps {
    margin-top: 15px;
    ul {
      li {
        margin: 0 15px;
      }
    }
  }

  .sv-message {
    & > div {
      padding: 15px 60px 15px 15px;
      text-align: left;
    }
    .sv-close {
      top: 25px;
      transform: none;
    }
  }

  .sv-out-of-stock {
    & > .container {
      & > .row {
        padding: 0 15px;
      }
    }
    .item {
      flex-flow: column;
      .replace {
        margin-top: 10px;
        margin-left: 25px;
        display: inline-flex;
      }
    }

  }

  .sv-delivery-days {
    padding: 0 15px;
    & > .container {
      & > .row {
        padding: 20px;
      }
    }
    h2 {
      font-size: 20px;
      line-height: 30px;
    }
    ul {
      margin: 20px 0;
      li {
        width: 50%;
      }
    }
    .details {
      & > div {
        padding: 25px 20px;
      }
    }
  }

  .sv-menu-mobile {
    .menu-category {
      display: block;
    }
    .content {
      justify-content: flex-start;
      & ul.menu-dock {
        font-size: 20px;
        padding-bottom: 20px;
        li {
          a {
            padding: 10px 0;
          }
        }
      }
    }
  }

  .sv-thankyou-image {
    height: 250px;
    margin-bottom: -30px;
  }

  .sv-farmers-wrapper {
    margin-bottom: -30px;
  }

}

// iPhone 6 landscape

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {

  .sv-menu-mobile {
    ul {
      justify-content: flex-start;
      padding: 0 0 25px 0;
    }
  }

  .sv-404 {
    .logo {
      top: 15px;
    }
    h2 {
      margin-bottom: 0;
    }
    .title {
      margin-bottom: -25px;
    }
  }

}

// iPhone 5 landscape

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {



}
