.help {

    &--dark-bg {
        background-color: rgba(9, 9, 15, 0.56);
    }
    &--wery-dark-bg {
        background-color: rgba(9, 9, 15, 0.72);
    }

    &--blur-bg {
        @include blur;
    }

    &--spacer {
        flex-grow: 1;
        width: 100%;
    }

    &--overimage {
        position: relative;
        .overimage {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            background: rgba(9, 9, 15, 0.56);
            @include blur;

            opacity: 0;

            transition: opacity 200ms ease;

            p {
                color: $white;
                transform: translateY(10px);
                opacity: 0;

                padding-right: rem(30);
                margin-right: -10px;
                background: url(../img/arrow.svg) right 10px center no-repeat;

                @include transition-fast;
                transition-delay: 200ms;
            }
        }

        &:hover {
            .overimage {
                opacity: 1;

                p {
                    transform: translateY(0);
                    opacity: 1;

                    background: url(../img/arrow.svg) right 0px center no-repeat;
                }
            }
        }
    }

    &--image {
        width: 100%;

        img {
            width: 100%;
            display: block;
            object-fit: contain;
            object-position: center;
        }

        &.cover {
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    &--is-fullwidth-image {
        object-fit: cover;
        object-position: center;

        height: (650 / 10) * 1rem;
    }

    &--flex-wrap {
        display: flex;
        flex-wrap: wrap;

        @include mobile {
            margin: 0;
        }
    }

    &--ratio-1x1 {
        display: block;
        width: 100%;
        position: relative;

        .inner {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &:after {
            content: "";
            padding-top: 100%;
            width: 100%;
            display: block;
        }
    }

    &--sticky {
        position: sticky;
        top: 90px;
    }
}

@for $i from 1 through 5 {
    .mt-#{$i} {
        margin-top: (1rem * $i);
    }

    .mb-#{$i} {
        margin-bottom: (1rem * $i);
    }

    .ml-#{$i} {
        margin-left: (1rem * $i);
    }
    .mr-#{$i} {
        margin-right: (1rem * $i);
    }

    .pt-#{$i} {
        padding-top: (1rem * $i);
    }

    .pb-#{$i} {
        padding-bottom: (1rem * $i);
    }

    .pl-#{$i} {
        padding-left: (1rem * $i);
    }
    .pr-#{$i} {
        padding-right: (1rem * $i);
    }
}

.lh {
    line-height: 1.1;
}

.hide-desktop {
    @include mobile-up {
        display: none !important;
    }
}

.hide-mobile {
    @include mobile {
        display: none !important;
    }
}
