// main: ../main.scss
$font-size-base: 10 !default;

// Strip units
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// Relative units from pixels
$mixin--baseFontSize: $font-size-base;

@function rem($pixels, $context: $mixin--baseFontSize) {
  $u-pixels: strip-unit($pixels);
  $u-context: strip-unit($context);

  @return $u-pixels / $u-context * 1rem;
}



@mixin transition-veryfast() {
  transition: all 150ms ease;
}

@mixin transition-fast() {
  transition: all 350ms ease;
}

@mixin transition-medium() {
  transition: all 500ms ease;
}

@mixin transition-slow() {
  transition: all 650ms ease;
}

@mixin transition-veryslow() {
  transition: all 850ms ease;
}

@mixin transition-cubic() {
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}

@mixin background-2x($path, $ext: "png", $w: auto, $h: auto, $pos: left top, $repeat: no-repeat) {

  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";

  background-image: url("#{$at1x_path}");
  background-size: $w $h;
  background-position: $pos;
  background-repeat: $repeat;

  @media all and (-webkit-min-device-pixel-ratio : 1.5),
  all and (-o-min-device-pixel-ratio: 3/2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
    background-image: url("#{$at2x_path}");
  }

}

@mixin blur() {
//   backdrop-filter: blur(5px);
}

@mixin regular-mobile() {
  @media only screen and (max-width : 575px) { @content; }
}

@mixin phablet-mobile() {
  @media only screen and (max-width : 767px) { @content; }
}

@mixin mobile() {
    @media only screen and (max-width : 991px) { @content; }
}
@mixin mobile-up() {
  @media only screen and (min-width : 992px) { @content; }
}
@mixin tablet() {
    @media only screen and (max-width: 1200px) { @content; }
}
@mixin desktop() {
    @media only screen and (min-width : 1201px) { @content; }
}
@mixin large-desktop() {
    @media only screen and (min-width : 1500px) { @content; }
}
