.d-flex {
    display: flex;
}
.mob-market-day-container {
    margin-top: 3rem!important;
    margin-left: 1.5rem!important;
    .sv-day.is-active:before {
        right: -12px;
        background-size: 45px 33px;
        top: -20px;
    }
    .text-block {
        font-size: 16px;
        margin-left: 20px;
        .btn-green {
            white-space: normal;
            font-weight: 400;
            font-size: 16px;
            padding: 0.375rem 0.75rem;
        }
    }
    .text-block-content {
        margin-right: 20px;
        .open-mob-drop {
            margin-top: 15px;
        }
    }
    .text-block-content-title {
        line-height: 26px;
    }
    .sv-day .nr {
        span:first-child {
            font-size: 40px;
            line-height: 45px;
        }
        span {
            font-size: 14px;
        }
        .name {
            font-size: 14px;
        }
    }
    .d-none {
        display: none;
    }
}

.mob-market-day-dropdown {
    width: 100%;
    height: 0em;
    // overflow: hidden;
    overflow: scroll;
    transition-property: height;
    transition: all 500ms ease;
    position: absolute;
    z-index: 100;
    .row {
        flex-flow: column;
        align-items: center;
        display: block;
    }
    .days {
        display: flex;
        overflow-x: auto;
        padding-bottom: 20px;
        max-width: 370px;
        .sv-day {
            margin-right: 25px;
            margin-top: 40px;
            flex: 0 0 auto;
        }
    }
    .container {
        width: calc(100% - 30px);
    }
    .content {
        background-color: white;
        margin-top: 0px;
    }
}

.mob-market-day-dropdown-roll {
    height: 220px;
}

.mob-marketday-overlay {
    height: 100vh;
    background-color: black;
    opacity: 50%;
    visibility: hidden;
    position: absolute;
    width: 100%;
    margin-top: 10px;
    z-index: 1;
}

.mob-marketday-overlay-visible {
    visibility: visible;
}

@media (max-width: 360px) {
    .mob-market-day-dropdown .days {
        max-width: 330px;
    }
}
@media (max-width: 375px) and (min-width: 361px)  {
    .mob-market-day-dropdown .days {
        max-width: 370px;
    }
}
@media (min-width: 415px) and (max-width: 540px) {
    .mob-market-day-dropdown .days {
        max-width: 485px;
    }
}
@media (min-width: 541px) {
    .mob-market-day-dropdown .container {
        width: 430px;
    }
}
@media (min-width: 700px) {
    .mob-market-day-dropdown .content {
        width: fit-content;
    }
}
