// main: ../main.scss

$white: #ffffff;
$gray: #DBDDE4;
$bgcolor: #F1F3F4;

$black: #09090F;
$black: #323234;

$accent: #2E9265;

$accent-light: #1fe598;

$berni-saimnieko-bg: #EFE6FF;
$berni-saimnieko-clr: #00965E;
$berni-saimnieko-dark-green: #00462D;
$berni-saimnieko-light-green: #D2FFBE;
$berni-saimnieko-active-bullet-clr: #00C841;
$berni-saimnieko-default-bullet-clr: #D9D9D9;
$berni-saimnieko-purple--dark: #AA7DFF;



// $font-primary: "Jost", sans-serif;
$font-primary: "DINPro", sans-serif;;

$font-primary-light: "DINPro Light", sans-serif;
$font-primary-regular: "DINPro Regular", sans-serif;
$font-primary-medium: "DINPro Medium", sans-serif;
$font-primary-bold: "DINPro Bold", sans-serif;

$font-secondary: "NeutraDisp Titling", sans-serif;

$font-new-spirit: 'RecoletaSemiBold';
