select {
    opacity:0;
}

.sv-dock .sv-user-dropdown .admin a {
    background: url(../img/cogs.svg) right 20px center no-repeat;
}

.sv-products-menu {
  z-index: 2000;
}

/* .sv-steps + .sv-blank-spacer {
  margin-top: -60px;
}

@media only screen and (max-width: 767px) {
  .sv-steps + .sv-blank-spacer {
    margin-top: -30px;
  }
} */

.add-to-cart {
  border: none !important;
}

.sv-farmer-about p {
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .sv-product-single-wrapper .sv-products {
    width: 100%;
  }
}

.loading-items, .loading-items * {
  filter: blur(2px);
  pointer-events:none;
}

#message-block.error {
  color: #ff7171;
  font-weight: 800;
}
