.mob-market-day-container .sv-day.is-active:before {
  right: -100px;
}
.mob-market-day-container .text-block {
  font-size: 15px;
}
.mob-market-day-container .sv-day.is-active:before {
  content: "";
  background: url("/assets/img/icon-day-active-1.svg") 0 0 no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: -18px;
  z-index: 10;
  top: -25px;
  transition: all 350ms ease;
}