<template>
    <div class="accordion">
        <div v-for="(item, index) in accordionItems" :key="index" class="accordion-item" :class="{open: openItem==index}">
            <div @click="open(index)" class="accordion-title h3">
                <span>{{item.title}}</span>
                <span class="chevron"></span>
            </div>
            <div class="accordion-content">
                <div class="inner">
                    <div v-html="item.body"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        items: Array,
        openFirst: Boolean,
    },

    data() {
        return {
            openItem: (this.openFirst === true) ? 0 : -1,
        }
    },

    computed: {
        accordionItems() {
            console.log(this.items);
            if (this.items) {
                return this.items
            }

            return items;
        }
    },

    methods: {
        open(index) {
            if (this.openItem == index) {
                this.openItem = -1;
            } else {
                this.openItem = index;
            }
        }
    },
}
</script>

<style lang="scss" scoped>

.accordion {

    &-item {

        &.open {
            span.chevron {
                transform: rotate(-180deg);
            }
            .accordion-content {
                height: auto;

                .inner {
                    top: 0px;
                    margin-top: 0px;
                    transform: translateY(0px);

                    text-align: justify;
                }
            }
        }
    }

    &-title {
        width: 100%;
        display: inline-flex;
        align-items: flex-start;
        cursor: pointer;
        padding: 10px 0;

        span {
            width: 100%;
        }

        span.chevron {
            flex-grow: 0;
            flex-shrink: 0;
            width: 20px;
            height: 20px;

            transform: rotate(0deg);
            transition: transform 300ms ease;

            background: url('/assets/img/icon-chevron.svg') center center no-repeat;
        }
    }

    &-content {
        width: 100%;
        overflow: hidden;
        height: 0;
        transition: height 300ms ease;

        border-bottom: 1px solid #DBDDE4;

        .inner {
            position: relative;
            margin-top: -20px;
            transition: transform 300ms ease, margin-top 300ms ease;
            padding-bottom: 20px;
        }
    }
}

</style>
