<template>
    <div class="sv-products">
        <sort-search class="desktop-sort-search"></sort-search>
        <!-- <breadcrumbs></breadcrumbs> -->
        <div class="sv-category-title-banner">
            <div class="title">
                <h1>{{landingCategory ? landingCategory.text : category.text}}</h1>
            </div>
        </div>
        <template v-if="products.length > 0">
            <div class="infinite-page">
                <template v-for="product in products">
                    <!-- if((!$item->hasManyPrices() && ($itemAmount<1 && !is_null($itemAmount))) || ($item->hasManyPrices() && (!is_null($itemAmount) && $itemAmount<$item->lowestAmount()))) {
                            continue;
                        } -->
                    <div
                        :class="`sv-product-card ${product.is_sale}`"
                        :key="product.id"
                    >
                        <form method="post" action="/cart/save" data-cart-form>
                            <input type="hidden" name="product_id" :value="product.id" />
                            <div v-if="product.is_sale" class="sv-tag sale">
                                Akcija
                            </div>
                            <div v-else-if="product.is_suggested" class="sv-tag sugg">
                                Ieteikts
                            </div>
                            <div v-else-if="product.is_new" class="sv-tag new">
                                Jauns
                            </div>
                            <div v-if="product.is_bio" class="sv-badge">
                                <img class="fix-size" src="/assets/img/bio.png">
                            </div>
                            <a :href="product.url" class="image" :style="`background-image: url(${product.background_image_url})`">
                                <div class="sizing">
                                    <div class="hovertext">
                                        Apskatīt
                                    </div>
                                </div>
                            </a>
                            <div class="text">
                                <h2><a :href="product.url">{{ product.metaName || product.name }}</a></h2>
                                <div class="inner-spacer"></div>
                                <select v-if="product.has_many_prices" ref="select" name="variation_id" class="selectpicker">
                                    <template v-for="(price, id, idx) in product.prices">
                                        <option  :key="price.id" data-wrap="true" :value="id" :selected="idx == 0" :data-origprice="product.is_sale ? price.oldPrice : '' ">
                                            <s v-if="product.is_sale">{{price.oldPrice}}€</s>
                                            {{price.price}}€ / {{ price.display_name }}
                                            <small v-if="price.has_deposit">+&nbsp;depozīts {{ numberFormat(price.deposit_amount) }}&nbsp;&euro;</small>
                                        </option>
                                    </template>

                                </select>
                                <h3 v-else>
                                    <input type="hidden" :value="product.prices.id" name="variation_id" />
                                    <s v-if="product.is_sale">{{ product.prices.oldPrice + ' €' }}</s>
                                    {{product.prices.price + ' €' + ' / ' + product.prices.display_name}}
                                    <small v-if="product.prices.has_deposit">+&nbsp;depozīts {{ numberFormat(product.prices.deposit_amount) }}&nbsp;&euro;</small>
                                </h3>
                                <!-- <h4><a :href="product.supplier.url">{{ product.supplier.name }}</a></h4> -->
                            </div>
                            <div class="card-footer-wrapper">
                                <h4><a :href="product.supplier.url">{{ product.supplier.name }}</a></h4>
                                <button class="add-to-cart" :class="getSelectedMarketDay(product.market_days) ?  '' :  'is-disabled'">
                                    <span class="icon">
                                        <s></s>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="14" viewBox="0 0 26 14">
                                            <path d="M25.91,2l0.081,0.046L21,13.538V14H6l-0.806-.014L0.009,2.046,0.09,2H0V0H26V2H25.91ZM2.234,2L6.577,12H19.423L23.766,2H2.234Z"></path>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                            <!-- <div @click="saveCart(product)" class="add-to-cart" :class="getSelectedMarketDay(product.market_days) ?  '' :  'is-disabled'"> -->
                            <!-- <button class="add-to-cart" :class="getSelectedMarketDay(product.market_days) ?  '' :  'is-disabled'">
                                <span class="icon">
                                    <s></s>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="14" viewBox="0 0 26 14">
                                        <path d="M25.91,2l0.081,0.046L21,13.538V14H6l-0.806-.014L0.009,2.046,0.09,2H0V0H26V2H25.91ZM2.234,2L6.577,12H19.423L23.766,2H2.234Z"></path>
                                    </svg>
                                </span>
                            </button> -->

                        </form>
                    </div>
                </template>
                <!-- <newsletter-subscriber-modal v-if="showNewsletterModal" id="nl-modal"></newsletter-subscriber-modal> -->
            </div>

            <infinite-loading :identifier="lazyloaderIdentifyer" @infinite="infiniteHandler">
                <div slot="no-more">
                    <div class="btn-row btn-row--center">
                        <button class="btn btn-green" data-scroll-top>Uz lapas sākumu <div class="arrow arrow-back is-small is-vertical is-white is-in-button-left"></div></button>
                    </div>
                </div>
                <div slot="no-results">
                    <div class="btn-row btn-row--center">
                        <button class="btn btn-green" data-scroll-top>Uz lapas sākumu <div class="arrow arrow-back is-small is-vertical is-white is-in-button-left"></div></button>
                    </div>
                </div>
                <div slot="spinner">
                    <div id="spinner-loader">
                        <div class="loading-ring is-sm"></div>
                    </div>
                </div>
            </infinite-loading>
        </template>
    </div>
</template>

<script>
import Breadcrumbs from './partials/Breadcrumbs';
import SortSearch from './partials/SortSearch';
import Suppliers from './Suppliers';
import InfiniteLoading from 'vue-infinite-loading';
import mixin from '../mixin.js';

export default {
    data() {
        return {
            products: [],
        }
    },
    mixins: [mixin],
    computed: {
        landingCategory() {
            return this.$store.state.landingCategory;
        },

        stateProducts() {
            const landingCategoryProducts = this.$store.state.landingCategoryProducts;

            console.log("?", landingCategoryProducts, this.$store.state.products);

            return landingCategoryProducts ? landingCategoryProducts : this.$store.state.products;
        },

        pagination() {
            return this.$store.state.pagination;
        },

        category() {
            return this.$store.state.category;
        },

        selectedMarketDay() {
            return this.$store.state.selectedMarketDay;
        },

        lazyloaderIdentifyer() {
            if (this.category) {
                return this.category.unique_name;
            }

            if (this.landingCategory) {
                return this.landingCategory.unique_name;
            }

            return 'a';
        }
    },
    methods: {
        async saveCart(product) {
            const data = {
                product_id: product.id,
                variation_id: product.prices.id
            };
            const url = '/cart/save';
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            console.log('response', response);
            // return response.json();
        },

        getSelectedMarketDay(marketDays) {
            if (this.products.length > 1) {
                return marketDays.find(d => d == this.selectedMarketDay)
            }
        },

        async infiniteHandler($state) {
            console.log('$state', $state, this.category, this.landingCategory);

            const queryParams = this.$route.query;
            let urlParams = new URLSearchParams(this.pagination.next_page_url ? this.pagination.next_page_url.search : '');
            for (const [key, value] of Object.entries(queryParams)) {
                urlParams.append(key, value);
            }
            urlParams.append('page', this.pagination.current_page + 1);
            const url = this.pagination.path + '?' + urlParams;

            const response = await this.$store.dispatch('updatePagination', url);

            if (response) {
                if (this.pagination.current_page <= this.pagination.last_page) {
                    $state.loaded();
                    this.products.push(...response.productsAndPagination.products);
                } else {
                    $state.complete();
                }
            }
        },

        numberFormat(value) {
            let number = parseFloat(value);

            if (!isNaN(number)) {
                return number.toFixed(2);
            }

            return null
        },
    },
    updated() {
        console.log("WTF", this.products);

        this.products = this.stateProducts;

        if (this.$refs['select']) {
            $(this.$refs['select']).selectric({
                maxHeight: 300,
                disableOnMobile: false,
                nativeOnMobile: false,
            });
        }
    },
    components: {
        Breadcrumbs,
        SortSearch,
        Suppliers,
        InfiniteLoading,
    }
}
</script>

<style scoped lang="scss">
.card-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px 10px 10px;

    h4 {
        max-width: 84%;
    }
}
.infinite-loading-container {
    width: 100%;
}
#spinner-loader {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.sv-category-title-banner .title {
    padding: 0 15px 3rem;
}
.text h4 {
    max-width: 82%;
    margin-top: 5px;
}
@media only screen and (max-width: 500px) {
    .infinite-loading-container {
        margin-top: 15px;
    }
    .sv-products {
        margin-top: 20px;
        margin-left: -5px;
        margin-right: -5px;
        width: auto;
        min-width: 100%;
    }
    .sv-product-card {
        // max-width: 46%;
        width: calc(50% - 10px);
        margin: 5px;
    }

    .card-footer-wrapper h4 {
        max-width: calc(100% - 40px);
    }
    .add-to-cart {
        width: 25px;
        height: 25px;

        width: 35px;
        height: 35px;

        position: relative;

        .icon {
            transform: scale(0.8);

            s {
                // left: 6px;
            }
            svg {
                // left: -7px;
                width: 25px;
            }
        }
    }
    @media not all and (min-resolution:.001dpcm) {
        @supports (-webkit-appearance:none) {
            .add-to-cart {
                height: 28px;

                .icon {
                    s {
                        margin-left: -4px;
                    }

                    svg {
                        margin-left: -4px;
                    }
                }
            }

            .text h4 {
                width: 80%;
                margin-top: 7px;
            }
        }
    }

    .desktop-sort-search {
        display: none;
    }
}
</style>
