<template>
    <div class="sv-delivery-provider-info" v-if="importantMessage">
        <div id="message-1" class="sv-message">
            <div>
                <div style="text-align: center;" v-html="importantMessage"></div>
            </div>
        </div>

        <div :class="{'loading-items': isLoading}" v-if="activeDelivery">
            <omniva-parcel v-if="activeDelivery.delivery_provider === 'omniva-parcel'"
                :method="activeDelivery"
                v-model="deliveryDataModel"
            ></omniva-parcel>

            <izipizi-courier v-else-if="activeDelivery.delivery_provider === 'izipizi-courier'"
                :method="activeDelivery"
                v-model="deliveryDataModel"
            ></izipizi-courier>

        </div>
    </div>
</template>

<script>
import _get from 'lodash/get'
import _each from 'lodash/each'

export default {
    props: {
        setDeliveryProviderDataRoute: String,
        initialDelivery: Object,
        initialDeliveryDataModel: Object|Number,
    },

    data() {
        return {
            updatedDeliveryDataModel: null,
            isLoading: false,

            updatedDelivery: null,
        }
    },

    methods: {
        startLoading() {
            this.isLoading = true
            $('.sv-cart-tabs').addClass('loading-items');
            $('.sv-cart > .list').addClass('loading-items');
        },

        stopLoading() {
            this.isLoading = false
            $('.sv-cart-tabs').removeClass('loading-items');
            $('.sv-cart > .list').removeClass('loading-items');
        }
    },

    computed: {
        activeDelivery: {
            get() {
                console.log(this.initialDelivery);
                if (this.updatedDelivery) {
                    return this.updatedDelivery;
                }

                return this.initialDelivery;
            },

            set( value ) {
                this.updatedDelivery = value;
            }
        },

        deliveryDataModel: {
            get() {
                if (this.updatedDeliveryDataModel) {
                    return this.updatedDeliveryDataModel;
                }

                return this.initialDeliveryDataModel;
            },

            set( value ) {
                this.updatedDeliveryDataModel = value;
            }
        },

        importantMessage() {
            let message = null;

            _each( _get(this.activeDelivery, 'meta_data', []), (item) => {
                if (item.meta_name == 'importantMessage') {
                    message = item.meta_value;
                }
            } )

            return message;
        }
    },

    mounted() {
        console.log("deliveryDataModel", this.deliveryDataModel);

        this.$root.$on('update-delivery', (data) => {
            this.updatedDelivery = data;
        })
    },

    watch: {
        updatedDeliveryDataModel(newValue, oldValue) {
            this.startLoading();

            $.ajax({
                type: "POST",
                url: this.setDeliveryProviderDataRoute,
                data: {
                    delivery_provider_data: this.deliveryDataModel,
                    delivery_id:            this.activeDelivery.id,
                },
                success: (event) => {

                },
                complete: (event) => {
                    this.stopLoading();
                },
            })
        }
    }
}
</script>

<style scoped lang="scss">

</style>
