<template>
    <vue-tree-navigation :items="mappedItems" :defaultOpenLevel="0" class="TreeNavigation"/>
</template>

<script>

/**
 * @url https://github.com/MisRob/vue-tree-navigation
 */

export default {
    props: {
        items: Array,
    },

    data() {
      return {
        t_items: [
          { name: 'Products', external: 'https://github.com', children: [
            { name: 'Shoes', path: 'shoes' }
          ]},
          { name: 'About', path: 'about', children: [
            { name: 'Contact', path: 'contact', children: [
              { name: 'E-mail', element: 'email' },
              { name: 'Phone', element: 'phone' }
            ]},
          ]},
          { name: 'Github', external: 'https://github.com' },
        ],
      };
    },

    computed: {
        mappedItems() {
            return this.items;
        }
    }
}
</script>

<style lang="scss">
    .TreeNavigation {
        width: 100%;

        li {
            padding: 0;
            transition: all 200ms;

            li a {
                font-size: 16px;
            }
        }

        .NavigationLevel__children {
            padding-left: 3rem !important;
        }

        .NavigationLevel__parent {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
            box-sizing: border-box;
        }

        .NavigationLevel--level-1 {
            > span {
                font-weight: bold;
            }
        }

        .NavigationItem {
            text-align: left;
            color: #323234;
            background: none;
            padding: 15px 0;
            line-height: 1;
            box-sizing: border-box;

            width: 100%;
            display: block;
        }

        .NavigationLevel__parent {
            border-bottom: 1px solid #eeeeee;
        }

        .NavigationLevel__parent > .NavigationItem {
            border-right: 1px solid #eeeeee;
        }


        .NavigationItem--active {

            a {
                color: #2E9265;
                font-weight: bold;
            }
        }

        .NavigationToggle__icon {
            position: relative;
            top: 6px;

            display: block;
            padding: 6px;
            border-color: rgb(19, 19, 19);
            transform: rotate(-135deg);

            transition: transform 200ms, top 200ms;
        }

        .NavigationToggle__icon--closed {
            transform: rotate(45deg);
            top: 0px;
        }

        .NavigationToggle {
            padding: 15px 10px 15px 15px;
        }
    }

</style>
