<template>
    <modal name="nl-modal" :resizable="true" :adaptive="true" height="auto" width="75%" :maxWidth="800">
        <div class="nl-modal-content">
            <button id="nl-modal-close-btn" @click="$modal.hide('nl-modal')"></button>
            <div class="modal-wrapper">
                <div class="modal-wrapper-info">
                     <!-- <h1>Paldies! Esam nosūtījuši Tev epastu. Lūdzu, apstiprini to, lai turpmāk saņemtu īpašos piedāvājumus no Svaigi.lv!</h1> -->
                    <h1>Pieraksties Svaigi.lv jaunumiem un uzzini pirmais par sezonas aktuālajiem piedāvājumiem.</h1>
                    <div class="sub-title">
                        <span>Mēs nosūtīsim Tev e-pastu, lūdzu, apstiprini reģistrāciju jaunumu saņemšanai.</span>
                    </div>
                    <input v-model="formData.email" id="nl-modal-input" type="text" placeholder="Ievadi savu e-pasta adresi">
                    <span class="nl-modal-error-msg" v-if="errors.email">{{errors.email[0]}}</span>
                    <div>
                        <input v-model="formData.personasDatuApstrade" type="checkbox" id="gdpr" name="gdpr">
                        <label for="gdpr"><a target="_blank" :href="getLinkToPrivacy()">Es piekrītu savu personas datu apstrādei, saskaņā ar privātuma politiku.</a></label>
                    </div>
                    <span class="nl-modal-error-msg" v-if="errors.personasDatuApstrade">{{errors.personasDatuApstrade[0]}}</span>
                    <button @click="submit" id="nl-modal-submit-btn" class="sv-btn">Pierakstīties</button>
                </div>
                <div id="nl-modal-img-container">
                    <img src="/assets/img/newsletter-popup-image-cropped.png" />
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
export default {
    data() {
        return {
            formData: {
                personasDatuApstrade: false
            },
            errors: {},
        }
    },
    methods: {
        getLinkToPrivacy() {
            return window.location.origin + '/privatuma-politika';
        },
        async submit() {
            const response = await fetch('/api/subscribe-newsletter', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                body: JSON.stringify(this.formData),
            })
            .then(response => response.json())
            .then(data => {
                if (data.errors) {
                    this.errors = data.errors;
                } else {
                    this.hide()
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        },
        show() {
            this.$modal.show('nl-modal');
        },
        hide() {
            this.$modal.hide('nl-modal');
        },
        setCookie() {
            if (!this.$cookie.get("nlModal")) {
                this.show();
                this.$cookie.set('nlModal', true, { expires: '30D' });
            }
        },
    },
    mounted() {
        this.setCookie()
    }
}
</script>

<style scoped lang="scss">
.sub-title {
    font-size: 10px;
    line-height: 14px;
    margin-top: 10px;
}
.nl-modal-error-msg {
    font-size: 12px;
    color: red;
}
.modal-wrapper-info {
    padding: 20px 0 20px 20px;
    width: 50%;
    position: relative;
}
#nl-modal-img-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
#nl-modal-img-container img {
    display: flex;
    justify-content: flex-end;
}
.nl-modal-content button[id=nl-modal-close-btn] {
    float: right;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    &:before, &:after {
        position: absolute;
        top: 0px;
        right: 10px;
        content: ' ';
        height: 20px;
        width: 1px;
        background-color: white;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}
.nl-modal-content button[id=nl-modal-submit-btn] {
    width: 50%;
    margin-left: 0;
    height: 45px;
    font-size: 16px;
    margin-top: 25px;
}
.nl-modal-content input[type=checkbox] + label:before {
    width: 25px;
    height: 25px;
    top: 1px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
}
.nl-modal-content input[type=checkbox] + label:hover {
    color: #323234;
}
label[for=gdpr] {
    font-size: 10px;
    line-height: 14px;
    margin: 24px 0 20px 0;
}
.nl-modal-content {
    background-color: #E1E1E1;
}
.modal-wrapper {
    max-height: 400px;
    display: flex;
}
body .nl-modal-content .modal-wrapper input[type=text] {
    min-height: auto;
    height: 45px;
    font-size: 17px;
    border-radius: 3px;
    text-align: left;
    margin-top: 15px;
}
::placeholder {
  color: rrgb(225,225,225);
  opacity: 1; /* Firefox */
  font-family: "DINPro Medium", sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: rgb(225,225,225);
 font-family: "DINPro Medium", sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: rgb(225,225,225);
 font-family: "DINPro Medium", sans-serif;
}
@media only screen and (max-width: 663px) {
    .modal-wrapper-info {
        padding-right: 20px;
        width: 100%;
    }
    #nl-modal-img-container {
        width: auto;
    }
    .modal-wrapper {
        flex-direction: column-reverse;
        max-height: 100%;
    }
    div[id=nl-modal-img-container] img {
        height: 200px;
    }
}
@media only screen and (max-width: 500px) {
    h1 {
        font-size: 1.5rem;
    }
    label[for=gdpr] {
        margin-bottom: 0px;
    }
    .nl-modal-content button[id=nl-modal-submit-btn] {
        margin-top: 5px;
    }
}

</style>
