<template>
    <div class="container" ref="loaderContainer">
        <div class="row products-data">
            <products-side-panel :activeNavSlug="activeNavSlug" :tabActive="tabActive"></products-side-panel>
            <category-view v-if="tabActive == 'products'"></category-view>
            <suppliers v-if="tabActive == 'suppliers'"></suppliers>
        </div>
    </div>
</template>

<script>
import Suppliers from './Suppliers';

export default {
    data() {
        return {
            show: true,
            tabActive: 'products',
        }
    },
    watch: {
        $route(to, from) {
            const hash = to.hash.substring(1);
            this.tabActive = hash ? hash : 'products';
            let slug = to.fullPath.split('/').pop();

            if (to.query.search || this.tabActive == 'products') {
                this.switchCategory(slug);
                const rootSlug = this.$route.path.split('/')[1];
                this.$store.dispatch('setCurrentRootCategory', rootSlug)
            } else  {
                this.loadSuppliers();
            }
        }
    },
    props: {
        categorySlug: {
            type: String,
            required: true
        },
        activeNavSlug: {
            type: String,
            required: true
        },
    },
    methods: {
        async loadSuppliers() {
            let loader = this.$loading.show({
                container: this.$refs.loaderContainer,
                canCancel: false,
                zIndex: 999,
            });
            document.body.style.overflow = "hidden";

            const slug = this.$route.path.split('/').pop();
            await this.$store.dispatch('getSuppliers', {query: this.$route.query, slug: slug});
            document.body.style.overflow = "scroll";
            loader.hide();
        },
        async switchCategory(slug) {
            let loader = this.$loading.show({
                container: this.$refs.loaderContainer,
                canCancel: false,
                zIndex: 999,
            });

            document.body.style.overflow = "hidden";
            await this.$store.dispatch('getProductsData', {slug: slug, query: this.$route.query});
            document.body.style.overflow = "scroll";
            loader.hide();
        },
        onLoad() {
            const slug = this.$route.path.split('/').pop();

            this.$store.dispatch('getSuppliers', {query: this.$route.query, slug: slug});
            this.$store.dispatch('getProductsData', {slug: this.categorySlug, query: this.$route.query});
            this.$store.dispatch('setCategoryViewData');
            if (this.$route.hash) {
                this.tabActive = this.$route.hash.substring(1);
            }

            let loader = this.$loading.show({
                container: this.$refs.loaderContainer,
                canCancel: false,
                zIndex: 999,
            });

            document.body.style.overflow = "hidden";

            window.addEventListener("load", function(){
                document.body.style.overflow = "scroll";
                loader.hide();
            });
        }
    },
    created() {
        this.onLoad();
    },
    components: {
        Suppliers,
    }
}
</script>

<style>
@media (max-width: 992px) {
    .products-data {
        display: flex;
        flex-wrap: wrap;
    }
    .desktop-sort-search {
        display: none;
    }
    .sv-category-wrapper {
        padding-top: 0px;
    }
}
</style>
