<template>
    <div class="infinite-page">
        <template v-for="product in requestedProducts">
            <!-- if((!$item->hasManyPrices() && ($itemAmount<1 && !is_null($itemAmount))) || ($item->hasManyPrices() && (!is_null($itemAmount) && $itemAmount<$item->lowestAmount()))) {
                    continue;
                } -->
            <div :class="`sv-product-card ${product.cache.is_sale}`" :key="product.id">
                <form method="post" action="cart/save" data-cart-form>
                    <input type="hidden" name="product_id" :value="product.id" />
                    <div v-if="product.is_sale" class="sv-tag sale">
                        Akcija
                    </div>
                    <div v-else-if="product.is_suggested" class="sv-tag sugg">
                        Ieteikts
                    </div>
                    <div v-else-if="product.is_new" class="sv-tag new">
                        Jauns
                    </div>
                    <div v-if="product.is_bio" class="sv-badge">
                        <img class="fix-size" src="/assets/img/bio.png">
                    </div>
                    <a :href="product.cache.url" class="image"
                        :style="`background-image: url(${product.cache.background_image_url})`">
                        <div class="sizing">
                            <div class="hovertext">
                                Apskatīt
                            </div>
                        </div>
                    </a>
                    <div class="text">
                        <h2><a :href="product.cache.url">{{ product.name }}</a></h2>
                        <div class="inner-spacer"></div>
                        <select v-if="product.cache.has_many_prices" ref="select" name="variation_id" class="selectpicker">
                            <template v-for="(price, id, idx) in product.cache.prices">
                                <option :key="price.id" data-wrap="true" :value="id" :selected="idx === 0"
                                    :data-origprice="product.is_sale ? price.oldPrice : ''">
                                    <s v-if="product.is_sale">{{price.oldPrice}}€</s>
                                    {{price.price}}€ / {{ price.display_name }}
                                    <small v-if="price.has_deposit">+&nbsp;depozīts {{ numberFormat(price.deposit_amount) }}&nbsp;&euro;</small>
                                </option>
                            </template>
                        </select>
                        <h3 v-else>
                            <input type="hidden" :value="product.cache.prices.id" name="variation_id" />
                            <s v-if="product.is_sale">{{ product.cache.prices.oldPrice + ' €' }}</s>
                            {{ product.cache.prices.price + ' €' + ' / ' + product.cache.prices.display_name }}
                            <small v-if="product.prices.has_deposit">+&nbsp;depozīts {{ numberFormat(product.prices.deposit_amount) }}&nbsp;&euro;</small>
                        </h3>

                    </div>
                    <div class="card-footer-wrapper">
                        <h4><a :href="product.cache.supplier.url">{{ product.cache.supplier.name }}</a></h4>
                        <button class="add-to-cart"
                            :class="getSelectedMarketDay(product.cache.market_days) ? '' : 'is-disabled'">
                            <span class="icon">
                                <s></s>
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="14" viewBox="0 0 26 14">
                                    <path
                                        d="M25.91,2l0.081,0.046L21,13.538V14H6l-0.806-.014L0.009,2.046,0.09,2H0V0H26V2H25.91ZM2.234,2L6.577,12H19.423L23.766,2H2.234Z">
                                    </path>
                                </svg>
                            </span>
                        </button>
                    </div>

                </form>
            </div>
        </template>
        <!-- <newsletter-subscriber-modal v-if="showNewsletterModal" id="nl-modal"></newsletter-subscriber-modal> -->
    </div>
</template>

<script>
export default {
    props: {
        windowWidth: {
            required: true,
            type: Number | String
        },
        supplier: {
            type: Object,
            required: true
        }
    },
    computed: {
        screenWidth() {
            if (this.windowWidth <= 500) {
                return 'small';
            } else if (this.windowWidth > 500) {
                return 'middle';
            }
        },
        selectedMarketDay() {
            return this.$store.state.selectedMarketDay;
        },
        requestedProducts() {
            let productCount = this.screenWidth == 'small' ? 2 : 6;

            return this.supplier.products.splice(0, productCount);
        },
    },
    methods: {
        getSelectedMarketDay(marketDays) {
            if (this.requestedProducts.length > 1) {
                return marketDays.find(d => d == this.selectedMarketDay)
            }

        },

        numberFormat(value) {
            let number = parseFloat(value);

            if (!isNaN(number)) {
                return number.toFixed(2);
            }

            return null
        },

    },
    mounted() {
        if (this.$refs['select']) {
            $(this.$refs['select']).selectric({
                maxHeight: 300,
                disableOnMobile: false,
                nativeOnMobile: false,
            });
        }
    },
}
</script>

<style scoped lang="scss">
.sv-product-card {
    width: calc(33.333% - 30px);
    // margin: 0 0 15px 0;
    margin: 0 0 30px 30px;
}

.card-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px 10px 10px;

    h4 {
        max-width: 84%;
    }
}

@media only screen and (max-width: 500px) {
    .sv-product-card {
        width: 100%;
        margin: 0 0 15px 0px;

        h4 {
            font-size: 1rem;
        }

        h3 {
            font-size: 14px;
        }

        .card-footer-wrapper h4 {
            max-width: calc(100% - 40px);
        }

        .add-to-cart {
            // width: 33px;
            // height: 33px;
            width: 26px;
            height: 26px;

            width: 35px;
            height: 35px;

            .icon {
                s {
                    // left: 12px;
                    height: 6px;
                    top: 2px;
                    left: 8px;
                    width: 2px;
                }

                svg {
                    // left: -2px;
                    width: 19px;
                    left: -2px;
                }
            }
        }
    }
}

@media only screen and (min-width: 501px) and (max-width: 1024px) {
    .sv-product-card {
        width: calc(33.333% - 8px);
    }
}</style>
