<template>
    <div class="sidebar-container">
        <div class="mob-search">
            <sort-search v-if="tabActive == 'products'"></sort-search>
        </div>
        <div class="sidebar-btn-set-mobile">
            <div class="mob-close-btn">
                <button @click="toggleFilter()" class="mobile-toggle-btn">{{ filterVisible ? 'Aizvērt' : 'Atlasīt' }}</button>
            </div>
            <!-- <div class="mob-switch-tab-btn-set">
                <button :class="tabActive == 'products' ? 'tab-active' : ''" @click="$router.push({hash: '#products'})">Produkti</button>
                <button :class="tabActive == 'suppliers' ? 'tab-active' : ''" @click="$router.push({hash: '#suppliers'})">Saimnieki</button>
            </div> -->
        </div>
        <div class="sv-sidebar-category" :class="filterVisible ? '' : 'filter-hidden'">
            <div class="sidebar-btn-set">
                <button :class="tabActive == 'products' ? 'tab-active' : ''" @click="$router.push({hash: '#products'})">Produkti</button>
                <button :class="tabActive == 'suppliers' ? 'tab-active' : ''" @click="$router.push({hash: '#suppliers'})">Saimnieki</button>
            </div>
            <div class="sidebar-category-content">
                <p>Izvēlēties Tirgus dienu:</p>
                <div class="days">
                    <a
                        v-for="(marketDay, availableTo) in marketDays"
                        :key="availableTo"
                        class="sv-day"
                        :class="marketDay.isActive ? 'is-active' : ''"
                        :href="`/setMarketDay/${marketDay.availableTo}`"
                    >
                        <div>
                            <div class="nr">
                                <span>{{ marketDay.day }}</span>
                                <span>{{ marketDay.month }}</span>
                            </div>
                            <div class="name">
                                {{ marketDay.name }}
                            </div>
                        </div>
                    </a>
                </div>
                <p>Filtri:</p>
                <div class="sidebar-category-nav-list">
                    <template v-for="(nav, key) in navigation">
                        <div :key="key">
                            <input :id="`side-nav-${key}`" :checked="nav.slug == activeNavSlug" name="mainCategories" type="radio">
                            <label :for="`side-nav-${key}`" @click="$router.push({ path: `/${nav.slug}`, hash: $route.hash})">
                                {{  nav.name }}
                            </label>
                        </div>
                    </template>
                </div>
                <subcategories @toggleFilter="toggleFilter()"></subcategories>
            </div>
        </div>
    </div>
</template>

<script>
import Subcategories from './Subcategories';
import SortSearch from './partials/SortSearch';

export default {
    data() {
        return {
            filterVisible: false,
        }
    },
    methods: {
        toggleFilter() {
            this.filterVisible = !this.filterVisible;
            window.scrollTo(0, 0);
        },
    },
    components: {
        Subcategories,
        SortSearch
    },
    props: {
        tabActive: {
            type: String,
            required: true
        },
        activeNavSlug: {
            type: String,
            required: true
        },
    },
    computed: {
        marketDays() {
            return this.$store.state.marketDays;
        },
        navigation() {
            return this.$store.state.mainNavigation;
        },
    },
}
</script>

<style lang="scss" scoped>
.sidebar-btn-set-mobile {
    display: none;
}
.sidebar-category-content {
    max-width: 250px;
}
.sidebar-btn-set {
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
    background-color: #F1F3F4;

    button {
        width: 115px;
        background-color: white;
        border: none;
        font-size: 18px;
        padding: 3px;
    }

    button[class=tab-active] {
        background-color: rgba(46, 146, 101, 0.3)
    }
}
.sidemenu-footer {
    margin-top: 100%;
    padding-left: 30px;
    font-size: 15px;

    img {
        width: 120px;
    }
}
@media only screen and (max-width: 500px) {
    .filter-hidden {
        height: 0;
        overflow: hidden;
    }
    .mob-close-btn {
        width: 50%;
    }
    .mob-switch-tab-btn-set {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: space-between;
        button {
            font-size: 13px;
            width: auto;
            padding: 0 15px;
        }
    }
    .mobile-toggle-btn {
        font-size: 24px;
        padding: 6px 0;
        width: 85%;
    }
    .sv-sidebar-category {
        display: block;
        margin-right: 0px;
        padding-bottom: 0px;
    }
    .sidebar-container {
        width: 100%;
    }
    .sidebar-btn-set {
        display: none;
    }
    .sidebar-category-content {
        max-width: 250px;
        .days {
            justify-content: flex-start;
            a {
                margin-right: 10px;
            }
        }
    }
    .sidebar-btn-set-mobile {
        display: flex;
        padding: 15px 30px 15px 15px;
        justify-content: space-between;
        background-color: #F1F3F4;
        position: fixed;
        z-index: 40;
        width: 100%;
        top: 110px;
        left: 0;
        width: 100%;

        button {
            background-color: white;
            border: none;
        }

        button[class=tab-active] {
            background-color: rgba(46, 146, 101, 0.3)
        }
        .mobile-toggle-btn {
            background: #2E9265;
            color: white;
        }
    }
    .mob-search {
        position: fixed;
        top: 0;
        z-index: 50;
        background-color: #F1F3F4;
        border: 1px solid #F1F3F4;
        left: 0;
        width: 100%;
        padding: 70px 15px 0 15px;
    }
}

@media only screen and (min-width: 501px) {
    .sort-search {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .sidebar-container {
        margin-top: 130px;
    }
}
</style>
