<template>
    <div class="form submited" v-if="submited">
        <div class="form-row">
            <p>Paldies par atsauksmi!</p>
        </div>
    </div>
    <form v-else class="form" @submit.prevent="submit">
        <div class="form-row" :class="{haserror: count_left_name<0}">
            <label for="">Tavs vārds</label>
            <div class="counter" >{{count_left_name}}</div>
            <div class="input-wrap">
                <input v-model="model.name" type="text" placeholder="Spied, lai sāktu rakstīt...">
            </div>
        </div>

        <div class="form-row" :class="{haserror: count_left_comment<0}">
            <label for="">Tavs komentārs</label>
            <div class="counter" >{{count_left_comment}}</div>
            <div class="input-wrap">
                <textarea v-model="model.comment" name="" id="" rows="5" placeholder="Spied, lai sāktu rakstīt...">Spied, lai sāktu rakstīt...</textarea>
            </div>
        </div>

        <div class="form-row">
            <button type="submit" :disabled="hasError" class="btn btn-green">Iesniegt Atsauksmi</button>
        </div>
    </form>
</template>

<script>
export default {
    // props: {
    //     label: {
    //         type: String,
    //         default: 'Tavs komentārs',
    //     },
    // },

    data() {
        return {
            submited: false,
            model: {
                name: "",
                comment: "",
            }
        };
    },

    computed: {
        count_left_name() {
            return 80 - this.model.name.length;
        },
        count_left_comment() {
            return 400 - this.model.comment.length;
        },

        hasError() {
            return this.count_left_name < 0 || this.count_left_comment < 0
        }
    },

    methods: {
        submit() {
            this.submited = true;
        },
    }
};
</script>

<style scoped lang="scss">
.form {
    padding: 0;

    .form-row {
        background-color: #fff;
        padding: 2rem 3rem;
        position: relative;
        width: 100%;

        border-top: 1px solid #F1F3F4;

        &:first-child {
            border-top: none;
        }

        &.haserror {

            .counter,
            label {
                color: red;
            }
        }
    }

    label {
        font-size: 14px;
        margin-bottom: 1rem;
    }

    .input-wrap {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }

    textarea,
    input {
        border: none !important;
        font-size: 16px;
        min-height: 40px;
    }
    input {
        line-height: 40px;
    }

    .counter {
        position: absolute;
        top: 2rem;
        right: 3rem;

        font-size: 14px;
        color: #B7B7BF;


    }
}

</style>
