<template>

    <div class="simple-image-columns-container container">
        <div class="row">
            <div class="col-xs-12">
                <div class="simple-image-columns row">
                    <div v-for="(column, index) in columns" :key="index" class="simple-image-column col-md-4" :class="['col-index-' + index, index == 1 ? 'col-xs-12' : 'col-xs-6']" >
                        <div class="item">

                            <div class="image">
                                <img
                                    loading="lazy"
                                    :src="images && images[index] ? images[index] : column.image"
                                    :alt="column.title"
                                    :class="'image-' + index"
                                >
                            </div>

                            <div class="title">
                                <h4>{{ column.title }}</h4>
                                <div v-html="column.content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        columns: Array,
        images: Array
    }
}
</script>

<style scoped lang="scss">

.simple-image-columns {
    display: flex;
}
</style>
