<template>
    <div v-if="currentRootCategory !== null">
        <p>Kategorijas</p>
        <div class="sidebar-category-categories-list">
            <div class="sidebar-categories-list-item">
                <template v-for="child in currentRootCategory.children">
                    <div :key="child.id">
                        <div class="sidebar-cat-list-item" @click="dropOverflow(child, true)">
                            <div class="categories-list-circle"></div>
                            <a href="javascript:void(0)" class="category-title">{{child.text}}</a>
                        </div>
                        <div class="sidebar-overflow" :id="`overflow-${child.id}`">
                            <div class="sidebar-categories-list-item-children" v-for="grandChild in child.children" :key="grandChild.id">
                                <div class="sidebar-cat-list-item" @click="dropOverflow(grandChild, false)">
                                    <div class="categories-list-circle-child"></div>
                                    <div class="category-circle-child-title">
                                        <a href="javascript:void(0)" >{{grandChild.text}}</a>
                                    </div>
                                </div>
                                <div class="sidebar-overflow" :id="`overflow-${grandChild.id}`">
                                    <div class="sidebar-categories-list-item-children" v-for="grandGrandChild in grandChild.children" :key="grandGrandChild.id">
                                        <!-- <div class="sidebar-cat-list-item" @click="$router.push({ path: grandGrandChild.url })"> -->
                                        <div class="sidebar-cat-list-item" @click="toggleFilter(grandGrandChild.url)">
                                            <div class="categories-list-circle-grandchild"></div>
                                            <div class="category-circle-child-title">
                                                <a href="javascript:void(0)">{{grandGrandChild.text}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        currentRootCategory() {
            // return this.$route.path.split('/')[1];
            return this.$store.state.currentRootCategory;
        },
        // rootCategories() {
        //     const nav = this.$store.state.mainNavigation;
        //     return nav.map(n => n.slug);
        // },
        category() {
            return this.$store.state.category;
        },
        // mainCategory() {
        //     return this.$store.state.mainCategory;
        // },
    },
    created() {
        const slug = this.$route.path.split('/')[1];
        this.$store.dispatch('setCurrentRootCategory', slug);
    },
    methods: {
        toggleFilter(url) {
            this.$emit('toggleFilter');

            // try {
            //     window.scrollTo({ top: 0, behavior: 'smooth' });
            // } catch (error) {
            // }

            this.$router.push({ path: url })
        },
        getCurrentRootCategory() {
            return this.$route.path.split('/')[0];
        },
        dropOverflow(child, isParent) {
            let elements = Array.prototype.slice.call( document.getElementsByClassName('full-overflow-height'));
            if (elements.length > 0 && isParent) {
                elements.map(el => {
                    el.classList.remove('full-overflow-height');
                })
            }

            let element = document.getElementById(`overflow-${child.id}`);
            element.classList.toggle('full-overflow-height');

            const slug = child.url.split('/').pop();
            const hash = this.$route.hash;

            if (child.children.length < 1) {
                this.$emit('toggleFilter');
            }

            if (hash === '#suppliers') {
                this.$router.push({ path: child.url, hash: hash, params: slug });
            }

            this.$router.push({ path: child.url, hash: hash });
        }
    },
}
</script>

<style lang="scss">
.sidebar-cat-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    line-height: 16px;
    margin: 10px 0;
    cursor: pointer;

    a {
        margin-left: 15px;
    }
    .category-circle-child-title {
        line-height: 30px;
        font-size: 14px;
        a {
            margin-left: 0px;
        }
    }

    .categories-list-circle {
        // min-width: 35px;
        // height: 35px;
        // border-radius: 50%;
        // background-color: #C4C4C4;
    }
}
.categories-list-circle-child {
    // min-width: 17px;
    // height: 17px;
    // border-radius: 50%;
    // background-color: #C4C4C4;
    margin-left: 8px;
}
.categories-list-circle-grandchild {
    // min-width: 17px;
    // height: 17px;
    // border-radius: 50%;
    // background-color: #C4C4C4;
    margin-left: 38px;
}
.category-circle-child-title {
    background-color: #F1F3F4;
    font-size: 12px;
    padding: 0 9px;
    height: auto;
    margin-left: 15px;
    text-align: left;

    p {
        margin-bottom: 0px;
        &:hover {
            cursor: pointer;
        }
    }
}
.sidebar-overflow {
    height: 0;
    overflow: hidden;
}
.full-overflow-height {
    height: 100%;
}
</style>
