<template>
  <div class="sv-products" v-if="suppliers.data">
    <sort-search :isSuppliers="true"></sort-search>

    <div class="supplier-container" v-if="suppliers.data.length > 0">
        <div class="row">
            <div v-for="supplier in suppliers.data" :key="supplier.id" class="supplier-wrapper">
                <div class="col-md-3 supplier-card-wrapper">
                    <div class="supplier-card">
                        <div class="card-image-ratio">
                            <img :src="supplier.image.dir_path + supplier.image.filePath" />
                        </div>
                        <div class="supplier-info">
                            <h3 class="supplier-name">
                                <span v-html="getName(supplier)"></span>
                            </h3>
                            <div class="supplier-location">
                                <span v-html="getExcerpt(supplier)"></span>
                            </div>
                            <div class="supplier-description">
                                <span v-html="getDescription(supplier)"></span>
                            </div>
                        </div>
                        <div class="supplier-card-footer">
                            <div class="btn-row btn-row--fill">
                                <a class="btn btn-view" target="blank" :href="supplier.url">Apskatīt</a>
                            </div>
                            <div class="btn-row btn-row--fill">
                                <a class="btn btn-green" target="_blank" :href="supplier.productsUrl">Visi produkti</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="supplier-products-container col-md-9">
                    <product :windowWidth="windowWidth" :supplier="supplier"></product>
                </div>
            </div>

            <infinite-loading :identifier="lazyloaderIdentifyer" @infinite="infiniteHandler" class="post-supplier-wrapper">
                <div slot="no-more">
                    <div class="btn-row btn-row--center">
                        <button class="btn btn-green" data-scroll-top>Uz lapas sākumu <div class="arrow arrow-back is-small is-vertical is-white is-in-button-left"></div></button>
                    </div>
                </div>
                <div slot="no-results">
                    <div class="btn-row btn-row--center">
                        <button class="btn btn-green" data-scroll-top>Uz lapas sākumu <div class="arrow arrow-back is-small is-vertical is-white is-in-button-left"></div></button>
                    </div>
                </div>
                <div slot="spinner">
                    <div id="spinner-loader">
                        <div class="loading-ring is-sm"></div>
                    </div>
                </div>
            </infinite-loading>
        </div>
    </div>

  </div>
</template>

<script>
import SortSearch from './partials/SortSearch';
import Product from './Product';

import _get from 'lodash/get';

export default {
    data() {
        return {
            suppliers: [],
            windowWidth: window.innerWidth,
        }
    },
     mounted() {
        window.addEventListener('resize', () => {
            this.windowWidth = window.innerWidth;
        })
    },
    watch: {
        suppliersState(prev, old) {
            this.suppliers = this.$store.state.suppliers;
        }
    },
    computed: {
        suppliersState() {
            return this.$store.state.suppliers;
        },

        suppliersPagination() {
            return this.$store.state.suppliersPagination;
        },

        landingCategory() {
            return this.$store.state.landingCategory;
        },

        category() {
            return this.$store.state.category;
        },

        lazyloaderIdentifyer() {
            if (this.category) {
                return this.category.unique_name;
            }

            if (this.landingCategory) {
                return this.landingCategory.unique_name;
            }

            return 'a';
        }
    },
    methods: {
        async infiniteHandler($state) {
            const queryParams = this.$route.query;
            let urlParams = new URLSearchParams(this.suppliersPagination.next_page_url ? this.suppliersPagination.next_page_url.search : '');
            for (const [key, value] of Object.entries(queryParams)) {
                urlParams.append(key, value);
            }
            urlParams.append('page', this.suppliersPagination.current_page + 1);
            const url = this.suppliersPagination.path + '?' + urlParams;

            const response = await this.$store.dispatch('updateSuppliersPagination', url);
            if (response) {
                if (this.suppliersPagination.current_page <= this.suppliersPagination.last_page) {
                    $state.loaded();
                    this.suppliers.data.push(...response.data);
                } else {
                    $state.complete();
                }
            }
        },
        getName(supplier) {
            const meta = _get(supplier.meta, 'name.lv', null);

            if (meta) {
                return meta.replace(/(<([^>]+)>)/gi, "");
            }

            return '';
        },

        getExcerpt(supplier) {
            const meta = _get(supplier.meta, 'excerpt.lv', null);

            if (meta) {
                return meta.replace(/(<([^>]+)>)/gi, "");
            }

            return '';
        },
        getDescription(supplier, maxChars = 100) {
            const meta = _get(supplier.meta, 'description.lv', null);

            if (meta) {
                return meta.replace(/(<([^>]+)>)/gi, "").substring(0, maxChars) + '...';
            }

            return '';
        },
    },
    components: {
        SortSearch,
        Product,
    },
}
</script>

<style scoped lang="scss">
.supplier-wrapper {
    display: flex;
    border-bottom: 2px solid #2E9265;
    padding: 35px 0 0;
}

.post-supplier-wrapper {
    margin-top: 30px;
}

.supplier-container {
    padding: 0 30px;
}
.supplier-location {
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 10px;
}
.supplier-card {
    padding: 0;
    background-color: white;
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 12rem;
}
.supplier-info {
    padding: 15px;
}
.supplier-name {
    font-size: 16px;
}
.supplier-description {
    line-height: 20px;
    word-wrap: break-word;
}
.supplier-products-container {
    padding-right: 0;
    padding-left: 0;
}
.supplier-card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 15px 15px;
}
.supplier-card-wrapper {
    padding: 0;
}

.btn-view {
    background-color: lightgray;
    margin-bottom: 7px;
    &:hover {
        background-color: darkgray;
    }
}
@media only screen and (max-width: 500px) {
    .supplier-products-container {
        min-width: 45%;
    }
    .supplier-card {
        min-width: 55%;
    }
    .supplier-container {
        padding: 0 15px;
        max-width: 100%;
    }
}
@media only screen and (min-width: 501px) and (max-width: 768px) {
    .supplier-card {
        width: 505px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .supplier-card {
        min-width: 230px;
    }
}
@media only screen and (min-width: 1025px) {
    .supplier-card {
    }
}
</style>
