<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <template v-for="crumb in breadcrumbs">
                                <li class="breadcrumb-item" :key="crumb.id">
                                    <a @click="$router.push({path: crumb.url})" class="breadcrumb-link">{{ crumb.text }}</a>
                                </li>
                            </template>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        breadcrumbs() {
            const landingCategoryBreadcrumbs = this.$store.state.landingCategoryBreadcrumbs;
            return landingCategoryBreadcrumbs ? landingCategoryBreadcrumbs : this.$store.state.breadcrumbs;
        },
    },

}
</script>

<style>
a {
    cursor: pointer;
}
</style>
