<template>
    <div class="d-flex sort-search">
        <form id="sort-form" @submit="submitSort" action="javascript:void(0);">
            <span id="sort-label">Kārtot pēc: </span>
            <select @change="submit" v-model="sortBy" name="" id="sort-select" class="selectpicker" ref="select">
                <option selected value="">A - Z</option>
                <option value="price_desc">Cenas <span>⬆</span> </option>
                <option value="price_asc">Cenas <span>⬇</span> </option>
            </select>
            <div class="chevron"></div>
        </form>
        <form id="search-form" @submit="submit" action="javascript:void(0);">
            <span id="search-title">Meklēt: </span>
            <input id="search-input" v-model="searchString" type="text">
        </form>
    </div>
</template>

<script>
import mixin from '../../mixin.js';
export default {
    data() {
        return {
            searchString: '',
            sortBy: ''
        }
    },
    props: {
        isSuppliers: false,
    },
    computed: {
        category() {
            return this.$store.state.category;
        },
    },
    mixins: [mixin],
    methods: {
        async submit() {
            const searchKey = this.isSuppliers ? 'searchSuppliers' : 'search';
            let query = {sort: this.sortBy};
            query[searchKey] = this.searchString;
            const hash = this.$route.hash;
            this.$router.push({query: query, hash: `${hash}`});
        },
        async submitSort() {
            if (this.sortBy.length > 0) {
                const response = await this.ajaxPost('/api/sort-products', {sort: this.sortBy});
            }
        }
    },

    mounted() {
        if (this.$route && this.$route.query) {

            if (this.$route.query['search']) {
                this.searchString = this.$route.query['search'];
            } else {
                this.searchString = '';
            }
        }
    },
}
</script>

<style lang="scss" scoped>
.sort-search {
    padding: 0 15px;
    justify-content: space-between;
    width: 100%;

    .chevron {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        line-height: 58px;

        font: 0/0 a;
        *font: 20px/58px Lucida Sans Unicode, Arial Unicode MS, Arial;

        &:after {
            content: " ";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 4px 0 4px;
            border-color: #323234 transparent transparent transparent;
            border-bottom: none;
            transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
        }
    }
}
#search-form, #sort-form {
    display: flex;
    max-width: 50%;
    position: relative;
}

#search-input {
    all: unset;
    border-bottom: 1px solid black;
    margin-left: 7px;
}

select {
    all: unset;
    padding-left: 9px;
    padding-top: 1px;
    cursor: pointer;
}

#search-title {
    vertical-align: bottom;
}


@media only screen and (max-width: 500px) {
    #search-title {
        min-width: 55px;
    }
    .sort-search {
        padding-left: 0px;
        margin-bottom: 22px;

        .chevron {
            display: none;
        }
    }
    #sort-label {
        min-width: 95px;
    }
    #search-input {
        max-width: 90px;
    }
}
</style>
